// @file
// Unordered list styles.

@use 'uswds' as *;
@use '../../../uswds-theme-settings.artifact' as *;
@use '../../../00-config' as *;

ul {
  @extend %usa-list;
  list-style-type: disc;
  margin-top: 0;

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding-left: 0;
      padding-right: 3ch;
    }
  }

  &:last-child {
    margin-bottom: revert;
  }

  ol,
  ul {
    margin-top: rem(gesso-spacing(1));
  }

  ul {
    list-style-type: circle;

    ul {
      list-style-type: square;
    }
  }
}
