// @file
// Styles for Node Dialog content.

@use '../../00-config' as *;

.node-dialog {
  background-color: gesso-grayscale(white);
  border: 1px solid gesso-claro(primary, gray-100);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(gesso-grayscale(black), 0.1);
  font-size: rem(16px);
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: rem(245px);
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.node-dialog__item {
  margin-bottom: 0;

  &.is-content {
    margin: gesso-spacing('05') 0;

    &:first-child {
      margin-top: gesso-spacing(1);
    }

    &:last-child {
      margin-bottom: gesso-spacing(1);
    }
  }

  &.is-link + .is-content {
    border-top: 1px solid gesso-claro(primary, gray-100);
    margin-top: 0;
    padding-top: gesso-spacing(105);
  }
}

.node-dialog__link {
  display: block;
  padding: gesso-spacing(105) gesso-spacing(205);
  text-decoration: none;
  width: 100%;

  &:focus,
  &:hover {
    background-color: gesso-claro(primary, blue-050);
  }

  &[aria-disabled="true"] {
    opacity: 0.6;
    pointer-events: none;
  }

  &.is-active {
    background-color: gesso-claro(primary, gray-100);
  }
}

.node-dialog__content {
  font-size: rem(13px);
  padding: 0 gesso-spacing(205);

  ul {
    list-style: none;
    margin: gesso-spacing(1) 0;
    padding: 0;

    li {
      font-size: rem(16px);
    }
  }

  .usa-form-group:first-child {
    margin-top: gesso-spacing(1);
  }

  .usa-label {
    display: block;
    font-size: rem(14px);
    font-weight: bold;
    width: 100%;

    span {
      color: gesso-claro(secondary, red-500);
    }
  }

  textarea {
    height: rem(116px);
    width: 100%;
  }

  .usa-checkbox {
    margin: gesso-spacing(2) 0;
  }

  .usa-checkbox__label {
    color: gesso-claro(primary, gray-800);
    font-size: rem(13px);
    padding-left: gesso-spacing(3);

    &::before {
      height: gesso-spacing(105);
      width: gesso-spacing(105);
    }
  }

  .button-container {
    margin-top: gesso-spacing(2);
    text-align: right;
  }

  input[type="button"],
  input[type="submit"] {
    font-size: rem(16px);
  }
}
