// @file
// Styles for Node Dialog content.

@use '../../00-config' as *;

.node-dialog {
  background-color: gesso-grayscale(white);
}

.node-dialog__list {
  border: 1px solid #DEDFE4;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.node-dialog__link {
  &:focus,
  &:hover {
    background-color: #E5EDFF;
  }

  &.is-active {
    background-color: #E3E3EA;
  }
}