<div aria-role="dialog" class="node-dialog">
	<ul class="node-dialog__list">
		<li class="node-dialog__item">
			<a class="node-dialog__link">Back to group dashboard</a>
		</li>
		<li class="node-dialog__item">
			<a class="node-dialog__link is-active">Edit page layout</a>
		</li>
		<li class="node-dialog__item">
			<a class="node-dialog__link">Preview view modes</a>
		</li>
		<li class="node-dialog__item">
			<a class="node-dialog__link">Clone</a>
		</li>
		<li class="node-dialog__item">
			<a class="node-dialog__link">Export</a>
		</li>
		<li class="node-dialog__item">
			<a class="node-dialog__link">Delete</a>
		</li>
	</ul>
</div>