// @file
// Preformatted text styles.

pre {
  margin: 0;
  overflow: auto;

  // Add top margin when preceded by another element.
  * + & {
    margin-top: 1em;
  }

  // Add top margin to item directly after this.
  + * {
    margin-top: 1em;
  }

  @media print {
    page-break-inside: avoid;
  }
}
