<div class="usa-media-block">
  <img src="{{ media_image.src }}" alt="{{ media_image.alt }}" class="usa-media-block__img" />
  <div class="usa-media-block__body">
    {{ media_body }}
  </div>
</div>
