input.publish {
  background-image: linear-gradient(to bottom, #BB0000, #880000);
  border-color: #550000;
}

input.publish:hover {
  background-image: linear-gradient(to bottom, #BB0000, #BB0000);
  border-color: #550000;
}

.actions-wrapper {
  margin: 20px 0;
}

.actions-wrapper input.button {
  margin: 0 15px 0 0;
}
