.epa-copy-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: none;
  text-decoration: none;

  &:focus {
    outline: var(--focus-outline);
    box-shadow: var(--focus-box-shadow);
  }

  &[data-once] {
    display: inline-block;
  }
}

.epa-copy-button__icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  overflow: visible !important;
  position: relative;
  top: -1px;
  transition: none;
  vertical-align: middle;
  width: 1em;

  * {
    transition: none;
  }
}
