.epa-dropdown {
  --epa-color-border: #dedfe4;
  position: relative;
}

.epa-dropdown__button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: default;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25;
  padding-block: 0.0714286em;
  padding-inline: 0.285714em;
  text-decoration: none;
}

.epa-dropdown__icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  margin-inline: 0.25em;
  overflow: visible !important;
  position: relative;
  top: -1px;
  transition: none;
  vertical-align: middle;
  width: 1em;

  * {
    transition: none;
  }
}

.epa-dropdown__drawer {
  background-color: #fff;
  border: 1px solid var(--epa-color-border);
  border-end-end-radius: 2px;
  border-end-start-radius: 2px;
  box-shadow: 0 2px 4px #0000001a;
  list-style: none;
  margin: 0;
  max-width: 15.3125rem;
  min-width: min-content;
  padding: 0;
  position: absolute;
  z-index: 3;
}

.epa-dropdown__drawer-item {
  margin: 0;
}

.epa-dropdown__drawer-link {
  display: block;
  font-size: 1rem;
}
