.epa-follow-widget__button-icon {
  height: 0.75em;
  width: 0.75em;
}

.epa-follow-widget__drawer {
  color: var(--epa-color-tabs);
  inset-inline-start: 0;
  min-width: 12rem;

  @media (min-width: 40em) {
    inset-inline: auto 0;
  }
}

.epa-follow-widget__flag-link {
  color: var(--epa-color-tabs);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem 1.5rem;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: var(--epa-color-tabs-bg-hover);
  }
}

.epa-follow-widget__user-header {
  color: var(--epa-color-tabs);
  font-size: 0.8rem;
  line-height: 1.48;
  padding: 0.75rem 1.5rem;
  position: relative;

  &::before {
    background-color: #919297;
    content: '';
    display: block;
    height: 1px;
    inset-block-start: 0;
    inset-inline-start: 0.75rem;
    position: absolute;
    width: calc(100% - 1.5rem);
  }
}

.epa-follow-widget__followers {
  padding-block: 0 0.75rem;
  padding-inline: 1.5rem;

  ul,
  ul:last-child {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none !important;
    margin: 0 !important;
    padding-block: 0 0.75rem;
    padding-inline: 0;
  }
}
