.epa-admin-link {
  color: var(--epa-color-tabs);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25;
  padding-block: 0.357143em 0.214286em;
  padding-inline: 0.285714em;
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: var(--epa-color-tabs);
  }

  &:hover {
    text-decoration: underline;
  }
}

.epa-admin-link__icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  margin-inline: 0.25em;
  overflow: visible !important;
  position: relative;
  top: -1px;
  transition: none;
  vertical-align: middle;
  width: 1em;

  * {
    transition: none;
  }

  &.is-rotated-45 {
    transform: rotate(45deg);
  }

  &.is-rotated-90 {
    transform: rotate(45deg);
  }

  &.is-rotated-180 {
    transform: rotate(180deg);
  }
}
