.epa-node-details {
  position: relative;
}

svg.epa-node-details__button-icon {
  height: 0.75em;
  margin-inline: 0.25em 0;
  width: 0.75em;

  .epa-node-details__button[aria-expanded='true'] & {
    transform: rotate(-180deg);
  }
}

.epa-node-details__drawer {
  color: var(--epa-color-tabs);
  inset-inline-end: 0;
  min-width: 12rem;
}

.epa-node-details__drawer-item {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25;
  margin-block: 0.75rem;
  padding-inline: 0.75rem;

  &.is-single-line {
    text-wrap: nowrap;
  }
}
