.epa-tag {
  border: 1px solid var(--epa-color-tabs);
  border-radius: 3.125rem;
  color: var(--epa-color-tabs);
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.16666667;
  padding-block: 0.5rem;
  padding-inline: 1.125rem;
  text-align: center;
  text-transform: uppercase;
}
