/**
 * @file
 * Styling for epa_workflow module's notifications toolbar tab.
 */

/* Tab appearance. */
.toolbar .toolbar-bar .epa-workflow-notifications-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .epa-workflow-notifications-toolbar-tab.toolbar-tab {
  float: left;
}
.toolbar .toolbar-bar .epa-workflow-notifications-toolbar-tab .toolbar-item {
  margin: 0;
}

/* Toolbar tab icon. */
.toolbar .toolbar-bar .epa-workflow-notifications-toolbar-tab .toolbar-item::before {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23bebebe' d='M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z'/%3e%3c/g%3e%3c/svg%3e");
}

.toolbar .toolbar-bar .epa-workflow-notifications-toolbar-tab .toolbar-item:active::before,
.toolbar .toolbar-bar .epa-workflow-notifications-toolbar-tab .toolbar-item.is-active::before {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cg%3e%3cpath fill='%23ffffff' d='M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z'/%3e%3c/g%3e%3c/svg%3e");
}
