#edit-node-revisions-table .is-published,
#edit-node-revisions-table .is-published.revision-current {
  background-color: #f3faef;
}

#edit-node-revisions-table .revision-latest {
  font-weight: bold;
}

#edit-node-revisions-table .revision-latest .dropbutton-wrapper {
  font-weight: inherit;
}
