#edit-node-revisions-table .is-published,
#edit-node-revisions-table .is-published.revision-current {
  background-color: #f3faef;
}

#edit-node-revisions-table .revision-latest {
  font-weight: bold;
}

#edit-node-revisions-table .revision-latest .dropbutton-wrapper {
  font-weight: inherit;
  min-width: 200px;
}

#edit-node-revisions-table thead th:nth-child(4) {
  width: 310px;
}

#edit-node-revisions-table tbody tr:first-child td {
  padding-bottom: 3rem;
}

#edit-node-revisions-table .dropbutton .dropbutton-action > * {
  white-space: normal;
}

#edit-node-revisions-table tr.revision-latest:not(.revision-current) td {
	background-color: #faf3d1;
}
