@use '../../00-config' as *;
@use '../../02-base' as *;

.usa-hero {
  background-image: none;

  @media print {
    background: transparent !important;

    > .grid-container {
      display: block !important;
    }
  }
}

.usa-hero__callout.usa-dark-background {
  background-color: color('primary-darker');
  max-width: 25rem;

  @media print {
    max-width: 50%;
  }
}
