@use '../../00-config' as *;
@use '../../02-base' as *;

.usa-hero {
  background-image: none;
}

.usa-hero__callout.usa-dark-background {
  background-color: color('primary-darker');
  max-width: 25rem;

  @media print {
    background-color: color('primary-darker') !important;
    color: gesso-grayscale(white) !important;

    * {
      color: gesso-grayscale(white) !important;
    }
  }
}
