// @file
// Styles for a Private Sitewide Alert.
@use '../../../00-config' as *;

.usa-site-alert--private {
  background-color: color($theme-color-warning);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;

  .pattern-lab-content & {
    display: block;
    position: static;
  }

  .usa-alert {
    background-color: color($theme-color-warning);
    border-left: 0;

    a,
    .usa-alert__close {
      color: gesso-color(text, link-hover);

      &:visited,
      &:hover,
      &:focus {
        color: gesso-color(text, on-light);
      }
    }

    .usa-alert__body {
      @include add-alert-icon(
        announcement,
        $theme-color-base-darkest,
        $theme-color-warning
      );

      flex-wrap: wrap;
      padding-left: rem(68px);
    }

    .usa-alert__heading {
      width: 100%;
    }

    .usa-alert__text {
      width: calc(100% - 100px);
    }
  }
}
