// @file
// Styles for an Alert Box.

.box--alert {
  @extend %box--with-borders;

  > .box__title,
  > .box__footer {
    background-color: color($theme-color-error);
    border-color: color($theme-color-error);
    color: gesso-grayscale(white);
  }

  > .box__image {
    border-color: color($theme-color-error);
  }

  > .box__content {
    border-color: color($theme-color-error);
  }
}
