// @file
// Styles for fields.

.field {
  margin-bottom: rem(gesso-spacing(2));
}

.field__label {
  display: block;
  font-size: font-size(body, sm);
  font-weight: gesso-font-weight(bold);
  margin-bottom: 0;

  &.is-inline {
    display: inline-block;
    margin-right: 0.1em;

    + .field__item {
      display: inline;
    }

    + .field__items {
      display: inline;

      .field__item {
        display: inline;
      }
    }
  }
}
