.l-page__footer {
  span {
    display: block;
    + span {
      margin-top: 1rem;
    }
  }
  @include at-media($theme-site-margins-breakpoint) {
    .l-constrain,
    .block {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    span {
      + span {
        margin-left: 1rem;
        margin-top: 0;
      }
    }
  }
}
