//@use 'uswds' as *;
@use '../../00-config/00-functions' as *;
@use '../../00-config/01-mixins/mixins.breakpoint' as *;

.l-page__footer-last-updated {
  font-size: font-size(body, 3xs);
  line-height: gesso-line-height(2);
  margin-top: 1rem;
  text-transform: uppercase;

  @include at-media($theme-site-margins-breakpoint) {
    margin-left: 1rem;
    margin-top: 0;
  }
}
