/*
 * @file
 * Provides the layout styles for epa layouts.
 */
.layout-builder__section .row.cols-2 {
  display: flex;
  flex-wrap: wrap;
}

.layout-builder__section .row.cols-2 > .col {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout-builder__section .row.cols-2 > .col {
    flex: 0 1 50%;
  }

  .layout-builder__section .row.cols-2 > .col.size-3of4 {
    flex: 0 1 75%;
  }

  .layout-builder__section .row.cols-2 > .col.size-1of4 {
    flex: 0 1 25%;
  }
}