/*
 * @file
 * Provides the layout styles for epa layouts.
 */

.l-grid {
  display: flex;
}

.l-grid > * {
  flex: 0 0 auto;
  width: 100%;
}

.l-grid--2-col > * {
  width: 50%;
}

.l-grid--3-col > * {
  width: 33.3333333333%;
}

.l-grid--4-col > * {
  width: 25%;
}

.l-sidebar {
  display: flex;
}

.l-sidebar__main {
  flex-grow: 1;
  max-width: calc(75% - 2.5rem);
}

.l-sidebar__sidebar {
  flex-shrink: 0;
  margin-left: 2.5rem;
  width: 25%;
}
