<div class="c-sidebar">
  <figure class="figure figure--image figure--thumbnail  u-align-left">
    <div class="figure__media">
      <img srcset="/sites/default/files/styles/thumbnail/public/2021-03/mr-crop.jpg?itok=GRNlsoQX 160w, /sites/default/files/styles/small/public/2021-03/mr-crop.jpg?itok=0Z834RBX 320w" sizes="(max-width: 160px) calc(100vw - 2rem), 160px" src="/sites/default/files/styles/thumbnail/public/2021-03/mr-crop.jpg?itok=GRNlsoQX" width="160" height="200" alt="image of Michael Regan, EPA Administrator" loading="lazy">
    </div>
  </figure>
</div>
