{#
/**
 * @file
 * Default theme implementation for a facets item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The ID of the widget plugin this facet uses.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @see facets_preprocess_facets_item_list()
 *
 * @ingroup themeable
 */
#}

{% set content -%}
  {% if items %}
    {%- set attributes = attributes.addClass('facet-list') -%}
    <ul{{ attributes }}>
      {%- for item in items -%}
        <li class="facet-list__item">{{ item.value }}</li>
      {%- endfor -%}
    </ul>
  {% endif %}

  {% if empty %}
    {{ empty }}
  {% endif %}
{%- endset %}

{% if content|striptags|trim %}
  {% if facet %}
    {% include '@uswds/_accordion/_accordion-content.twig' with {
      'accordion_id': 'facets',
      'content_id': facet_id|clean_class,
      'title': facet_name,
      'is_expanded': facet_is_expanded,
      'content': content,
    } %}
  {% else %}
    {{ content }}
  {% endif %}
{% endif %}
