# IDE files
.buildpath
.project
.settings
.idea
.vscode

# OS files
.DS_Store
Thumbs.db

# Node/NPM
node_modules

# Docker Compose overrides
docker-compose.override.yml

# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfvars

# Terraform override files
*override.tf

# A local one-off script
/scripts/stage-command.sh
