# IDE files
.buildpath
.project
.settings
.idea
.vscode

# OS files
.DS_Store
Thumbs.db

# Node/NPM
node_modules

# Docker Compose overrides
docker-compose.override.yml

# Terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
*_override.tf

# Explicitly ignore backend configuration; these values need to be injected by CI/CD
# systems
backend.tf
backend_override.tf

# Do not ignore the database module's backend.tf. See README.md for more.
!terraform/database/backend.tf

# A local one-off script
/scripts/stage-command.sh
