# Entrypoint is also needed as image by default set `terraform` binary as an
# entrypoint.
image:
  name: registry.gitlab.com/gitlab-org/terraform-images/releases/0.14:v0.8.0
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

# Default output file for Terraform plan
variables:
  PLAN: plan.tfplan
  JSON_PLAN_FILE: tfplan.json
  TF_ROOT: ${CI_PROJECT_DIR}/terraform/webcms
  TF_ADDRESS: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/dev-webcms-en

  #Run in an automated fashion without console input
  #TF_IN_AUTOMATION: 1
  #TF_INPUT: 0

  TF_VAR_aws_region: "us-east-1"

  # Module-wide variables
  TF_VAR_environment: "preproduction"
  TF_VAR_site: 'dev'
  TF_VAR_sites: '["dev"]'
  TF_VAR_lang: 'en'
  TF_VAR_tags: "{}"

  TF_VAR_image_tag: 'initial'

  TF_VAR_drupal_hostname: 'stage-www.epa.gov'
  TF_VAR_drupal_extra_hostnames: '["webcms-preproduction-6e916a8cff574d28.elb.us-east-1.amazonaws.com"]'

  TF_VAR_drupal_min_capacity: '1'
  TF_VAR_drupal_max_capacity: '5'
  TF_VAR_drupal_use_s3_domain: 'false'
  TF_VAR_drupal_state: 'run'

  TF_VAR_email_auth_user: junk
  TF_VAR_email_from: 'noreply@example.com'
  TF_VAR_email_host: 'localhost'
  TF_VAR_email_port: '25'
  TF_VAR_email_enable_workflow_notifications: 'false'
  TF_VAR_email_protocol: 'tls'

  TF_VAR_akamai_enabled: 'false'
  TF_VAR_akamai_api_host: 'junk'

  TF_VAR_saml_sp_entity_id: 'epa-webcms-d8-stage'
  TF_VAR_saml_sp_cert: '-----BEGIN CERTIFICATE-----MIID9zCCAt+gAwIBAgIJAP6ONdnDpyuzMA0GCSqGSIb3DQEBCwUAMIGRMQswCQYDVQQGEwJ1czEXMBUGA1UECAwOTm9ydGggQ2Fyb2xpbmExDDAKBgNVBAcMA1JUUDEoMCYGA1UECgwfRW52aXJvbm1lbnRhbCBQcm90ZWN0aW9uIEFnZW5jeTEVMBMGA1UECwwMT01TL09JVE8vRUhEMRowGAYDVQQDDBFzdGFnZS13d3cuZXBhLmdvdjAeFw0yMTA0MTMxNTU1MTdaFw0zMTA0MTExNTU1MTdaMIGRMQswCQYDVQQGEwJ1czEXMBUGA1UECAwOTm9ydGggQ2Fyb2xpbmExDDAKBgNVBAcMA1JUUDEoMCYGA1UECgwfRW52aXJvbm1lbnRhbCBQcm90ZWN0aW9uIEFnZW5jeTEVMBMGA1UECwwMT01TL09JVE8vRUhEMRowGAYDVQQDDBFzdGFnZS13d3cuZXBhLmdvdjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAObX1JT/LFVe7P/lNkddJPZjix1FbBnQfkRnJ2jL0djtglL+KkJgpkp5dUmGfaGjmdygWVE0Gs4VWtabPcBdsFGPloQYsBj82HnomZMGCET4sSMO//ZoXvBPhfzvKut3MSHe382Iw6vjfsP4srdvnxVjOwk+0UNGSkwpDEkTJzr32u2eOVmtP2CBbtTrzy8VlsMCCEyNCb4Ffc4ZOGKiCqU6tFZVO+s48yI5yT/1IG5cIyJcuGkt16RXIn1V9Oz88aV/mBtgG3q/eyywmPJgkbZHPlFBIlAjFMJdz79U538i2xxWGD3j2/KgTDE99rzTZGCxH8vnaPPFBC3VkbSiInECAwEAAaNQME4wHQYDVR0OBBYEFHrDKmwlQFIvMz4f4/VFHDqFAnIUMB8GA1UdIwQYMBaAFHrDKmwlQFIvMz4f4/VFHDqFAnIUMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAJz9es6zKvHxw0xrWbvAKMfENMNpD69051hwDZnCQcO+HgyGCwjGTQo0XD0JJIUcYCGMfkcRxfFQrzaZB3PwUsuTO/k0botCuFrCbeRSrrbqzu3JV0v+CbWpXhHDhI58jqE7mwGe9/EyQfLgJl9UYBooYK+kWpCElZReEh7+cHoJjAZJMEOFiqyCmzCOTmMDeR96rOixjbuRg3dCYIpII8YJKeR4G1QA3S/EpeMIvFVfWHCW0ijANMByhjim9DMxwU6xYzCOnoryJ1DMyPNUkRF+i24tgJnqcsjbVZZaBjhbsIlCZNcxAWbRBm44YKrzmR5kDTYeQOf7S9yGDDQ3pzI=-----END CERTIFICATE-----'
  TF_VAR_saml_idp_id: 'https://wamssostg.epa.gov/oam/fed'
  TF_VAR_saml_idp_sso_url: 'https://wamssostg.epa.gov/oamfed/idp/samlv20'
  TF_VAR_saml_idp_slo_url: 'https://wamssostg.epa.gov/oamfed/idp/samlv20'
  TF_VAR_saml_idp_cert: '-----BEGIN CERTIFICATE-----MIIB/DCCAWWgAwIBAgIBCjANBgkqhkiG9w0BAQUFADAjMSEwHwYDVQQDExh3YW1hcHBzdGcxLnJ0cG5jLmVwYS5nb3YwHhcNMTgwNTEwMTk0NDIwWhcNMjgwNTA3MTk0NDIwWjAjMSEwHwYDVQQDExh3YW1hcHBzdGcxLnJ0cG5jLmVwYS5nb3YwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAKHvjCwWJzKM+fdkYKtzEfQB/IZNl3DwubMwUycnd3SpwBGgNxvWJypElhVwMUeQTnGSS2AM2DCgdWj1Dt1+kU3a4xAR0H3EPhRt3G7dmjBB1meYrQrmhLS0eS3brkf/joCVk/QcNZTrjY/YDi/CgBd9DKz4X4J42dSzEok06MnnAgMBAAGjQDA+MAwGA1UdEwEB/wQCMAAwDwYDVR0PAQH/BAUDAwfYADAdBgNVHQ4EFgQUggiWNOJ53jjr/6y1g6hQ8ksylTQwDQYJKoZIhvcNAQEFBQADgYEAlktlMPLs48kBVqB6i94LOQTl+dP4cgmk/PM8N6hBu7lICkyVZ8Clm4ffwg5V1uQwhH/IUOiMmUjL7rZ9lY0jfW54toSxewxCWMsMc5en9xKbgJQSuiHtqh6Q7dXvrsWtjtX5vRGCURUsNdjrjByGSnrF7v/BlGFAObfG6d6nWjo=-----END CERTIFICATE-----'
  TF_VAR_saml_force_saml_login: 'false'

  # Load balancer variables
  # cf. load_balancer.tf
  TF_VAR_lb_default_certificate: "arn:aws:iam::665817092260:server-certificate/LBEPACertificate"
  TF_VAR_lb_extra_certificates: "[]"
  TF_VAR_lb_internal: "true"

  # Database variables
  # cf. rds.tf
  TF_VAR_db_instance_type: "db.t3.small"
  TF_VAR_db_instance_count: 1

  # Search variables
  # cf. search.tf
  TF_VAR_search_instance_type: "t3.medium.elasticsearch"
  TF_VAR_search_instance_count: 1
  TF_VAR_search_instance_storage: 10
  TF_VAR_search_dedicated_node_type: ""
  TF_VAR_search_dedicated_node_count: 0
  TF_VAR_search_availability_zones: 2
  
  # Cache variables
  # cf. cache.tf
  TF_VAR_cache_instance_type: "cache.t3.small"
  TF_VAR_cache_instance_count: 1

  #IAM Prefix
  TF_VAR_iam_prefix: "Customer"

cache:
  key: development
  paths:
    - ${TF_ROOT}/.terraform

before_script:
  - cd ${TF_ROOT}
  - pwd
  - cp $backend_tf backend.tf
  - gitlab-terraform --version
  - gitlab-terraform init

stages:
  - validate
  - build
  - test
  - deploy

validate:
  stage: validate
  tags:
    - docker
  script:
    - gitlab-terraform validate
  only:
    - f1-IaC-updates

plan:
  stage: build
  tags:
    - docker
  script:
    - gitlab-terraform plan
    - gitlab-terraform plan-json
  artifacts:
    name: plan
    paths:
      - ${TF_ROOT}/plan.cache
    reports:
      terraform: ${TF_ROOT}/plan.json
  only:
    - f1-IaC-updates

# Separate apply job for manual launching Terraform as it can be destructive
# action.
apply:
  stage: deploy
  tags:
    - docker
  script:
    - gitlab-terraform apply
  dependencies:
    - plan
  when: manual
  only:
    - f1-IaC-updates
