# This is the Compose file for command-line services.
# Anything that doesn't need to be run as part of the main `docker-compose up'
# command should reside in here and be invoked by a helper script.
version: "3.7"

services:
  # We build a separate Drush container in order to avoid pollutting the main web server
  # container with things like an SSH client and rsync, which aren't needed for a
  # container-based deployment.
  drush:
    build: ./services/drush
    entrypoint:
      - /var/www/html/vendor/bin/drush
      - --root=/var/www/html/web
    environment:
      DRUPAL_HASH_SALT: abcdefg
      SMTPHOST: mailhog:1025

      # See the comments in the main docker-compose.yml file for what this does. Remember
      # to keep this in sync with the Drupal container's own bindings!
      VCAP_SERVICES: |
        {
          "aws-rds": [
            {
              "credentials": {
                "db_name": "web",
                "host": "mysql",
                "password": "web",
                "port": "3306",
                "username": "web"
              }
            }
          ],
          "s3": [
            {
              "credentials": {
                "access_key_id": "minio_access",
                "secret_access_key": "minio_secret",
                "region": "us-east-1",
                "bucket": "drupal",
                "additional_buckets": []
              }
            }
          ],
          "redis32": [
            {
              "credentials": {
                "hostname": "redis",
                "password": null,
                "port": "6379"
              }
            }
          ],
          "elasticsearch56": [
            {
              "credentials": {
                "hostname": "elasticsearch",
                "username": "root",
                "password": "",
                "port": "9200"
              }
            }
          ]
        }
    volumes:
      - ./services/drupal:/var/www/html:cached
      - type: volume
        source: fs-data
        target: /var/www/html/web/sites/default/files

  # AWS cli image set to talk to Minio. `f1 run aws s3 [ARG...]' is the replacement for
  # `aws s3 [ARG...]' with overrides set.
  aws:
    image: xueshanf/awscli
    depends_on:
      - minio
    environment:
      AWS_ACCESS_KEY_ID: minio_access
      AWS_SECRET_ACCESS_KEY: minio_secret
      AWS_DEFAULT_REGION: us-east-1
    entrypoint:
      - aws
      - --endpoint-url=http://minio:9000/

  # This `composer' definition is what enables `f1 composer' to work.
  composer:
    image: composer:1.8
    volumes:
      - ./services/drupal:/app:cached

  # redis-cli, for connecting to Redis
  redis-cli:
    image: redis:3.2-alpine
    entrypoint:
      - redis-cli
      - -h
      - redis
volumes:
  {}
