// @file
// Styles for a Box.

@use '../../00-config' as *;
@use '../../02-base' as *;
@use '../external-link/external-link--image/external-link--image' as *;

.box {
  margin-bottom: rem(units(4));
  max-width: 100%;
  overflow: auto;

  @include breakpoint(gesso-breakpoint(tablet)) {
    &.u-align-left,
    &.u-align-right {
      margin-bottom: rem(units(3));
      margin-top: 0;
      width: 33%;
    }
  }

  * + & {
    margin-top: rem(units(4));
  }

  &.has-image-header {
    max-width: rem(320px);
  }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
div.box__title {
  @extend %h3;
}

.box__image-link {
  &#{$external-urls} {
    @extend .external-link--image;
  }

  &::after {
    @extend %external-link--image-after;
  }
}
