// @file
// Styles for a Box.

$image-header-width: 240px;

.box {
  margin-bottom: rem(units(3));

  @include breakpoint(gesso-breakpoint(tablet)) {
    &.u-align-left,
    &.u-align-right {
      width: rem($image-header-width);
    }
  }

  &.has-image-header {
    max-width: rem($image-header-width);
  }
}

%box--with-borders {
  .box__title,
  .box__image,
  .box__content,
  .box__footer {
    border: 1px solid gesso-grayscale(gray-5);
  }

  .box__title,
  .box__content,
  .box__footer {
    padding: rem(units(2));
  }

  .box__title,
  .box__footer {
    background-color: gesso-grayscale(gray-5);
    color: gesso-grayscale(white);
  }

  .box__title {
    @extend %h3;
    text-align: center;
  }

  .box__image {
    border-bottom: 0;
    margin: 0;

    + .box__content {
      border-top: 0;
    }
  }

  .box__content {
    border-bottom-width: rem(units('05'));
    margin: 0;
  }

  .box__footer {
    padding-top: rem(units('105'));
    text-align: right;
  }

  .box__footer-link {
    color: gesso-grayscale(white);
    text-decoration: none;

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: gesso-grayscale(white);
      text-decoration: underline;
    }
  }
}
