// @file
// Styles for an unstyled table.

.usa-table--unstyled {
  tbody,
  thead {
    th {
      background-color: transparent;
    }
  }

  td,
  th {
    background-color: transparent;
    border: 0;
  }
}
