// @file
// Styles for the Add to Cal module.
@use 'usa-button' as *;
@use '../../../00-config' as *;

.addtocal-container {
  float: none;
  margin-bottom: 12px;
  margin-top: 12px;
  position: relative;
  width: fit-content;

  @include breakpoint(gesso-breakpoint(tablet)) {
    float: right;
    margin-top: 0;
  }

  .addtocal {
    @extend .usa-button;
    margin-right: 0;

    &:focus {
      @extend .usa-button, :hover;
      z-index: 1;
    }

    &:focus,
    &:active {
      + div {
        display: block;
      }
    }

    + div {
      background: #efefef;
      border: 1px solid #cdcdcd;
      border-radius: 4px;
      display: none;
      left: auto !important;
      min-width: 159px;
      position: absolute;
      right: 0;
      z-index: 50;

      &:focus-within {
        display: block;
      }
    }

    &-links {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-link {
      a {
        border-width: 0;
        color: inherit;
        display: block;
        margin: 0;
        padding: 5px;
        text-decoration: none;
      }

      .icon--exit {
        display: none;
      }
    }
  }

  .form-item__label {
    font-size: 1rem;
    margin: 0;
    padding: 3px;
    text-align: center;
    white-space: nowrap;

    &::before {
      content: none;
    }
  }
}
