#
# Copy and rename this file to .env at root of this project.
#

WEBCMS_HASH_SALT=abcdefg

WEBCMS_S3_BUCKET=drupal
WEBCMS_S3_SNAPSHOT_BUCKET=f1-webcms-snapshot-testing
WEBCMS_S3_REGION=us-east-1

WEBCMS_CF_DISTRIBUTIONID=abcdef

WEBCMS_LOG_GROUP=/webcms-local/app-drupal

WEBCMS_DB_HOST=mysql

WEBCMS_DB_NAME=web
WEBCMS_DB_CREDS={"username":"web","password":"web"}

WEBCMS_DB_NAME_D7=web_d7
WEBCMS_DB_CREDS_D7={"username":"web_d7","password":"web_d7"}

WEBCMS_CACHE_HOST=memcached

WEBCMS_SEARCH_HOST=http://elasticsearch:9200

# Mail parameters
WEBCMS_MAIL_USER=bogus
WEBCMS_MAIL_PASS=bogus
WEBCMS_MAIL_FROM=noreply@epa.local
WEBCMS_MAIL_HOST=mailhog
WEBCMS_MAIL_PORT=1025
WEBCMS_MAIL_PROTOCOL=standard
WEBCMS_MAIL_ENABLE_WORKFLOW_NOTIFICATIONS=1


# Set WEBCMS_SITE to a value like "local", "dev", "stage", or "prod".  This triggers the automatic inclusion of
# settings.{WEBCMS_SITE}.env.php
WEBCMS_SITE=local
WEBCMS_SITE_HOSTNAME="localhost:8080"

# Set ENV_STATE to "build" before a site is installed in this environment to ensure we rely on the default database
# implementations. Set it to "migration" during the content migration. Afterwards set it to "run". Most commonly and
# notably, this is used to avoid trying to use a caching backend like Redis before the supporting module has been
# installed  and enabled.
WEBCMS_ENV_STATE=build

# Sets the language of the site for certain overrides. Defaults to 'en'. Set to 'es' for the spanish site.
WEBCMS_LANG=en

WEBCMS_SAML_SP_ENTITY_ID="Drupal WebCMS"
WEBCMS_SAML_SP_KEY="your-saml-sp-private-key-here"
WEBCMS_SAML_SP_CERT="your-saml-sp-certificate-here"
WEBCMS_SAML_IDP_ID="http://localhost:5000/simplesaml/saml2/idp/metadata.php"
WEBCMS_SAML_IDP_SSO_URL="http://localhost:5000/simplesaml/saml2/idp/SSOService.php"
WEBCMS_SAML_IDP_SLO_URL="http://localhost:5000/simplesaml/saml2/idp/SingleLogoutService.php"
WEBCMS_SAML_IDP_CERT="your-saml-idp-certificate-here"
WEBCMS_SAML_FORCE_SAML_LOGIN=0
