// @file
// Styles for the main menu.

@use 'sass:math';
@use '../../../00-config' as *;

.menu--main {
  @include list-clean();
  border-top: 1px solid gesso-grayscale(gray-3);

  @include at-media($theme-header-min-width) {
    background: gesso-brand(blue, dark);
    border: 0;
    color: gesso-grayscale(white);
    display: flex;
  }

  .menu__item {
    border-bottom: 1px solid gesso-grayscale(gray-3);
    display: block;
    margin: 0;

    @include at-media($theme-header-min-width) {
      border-bottom: 0;
    }
  }

  .menu__link {
    appearance: none;
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 0 units(0.5);
    color: gesso-grayscale(gray-5);
    cursor: pointer;
    display: flex;
    font-size: font-size(body, sm);
    font-weight: bold;
    justify-content: space-between;
    line-height: math.div(units(2), font-size(body, sm));
    padding: gesso-spacing(2);
    text-align: left;
    text-decoration: none;
    width: 100%;

    &:visited {
      color: gesso-grayscale(gray-5);
    }

    @include at-media($theme-header-min-width) {
      padding: gesso-spacing(1);

      &:visited {
        color: gesso-grayscale(white);
      }
    }

    &:hover,
    &:focus,
    &.is-active {
      background: gesso-grayscale(gray-2);
      color: gesso-brand(blue, base);
      text-decoration: underline;
    }

    &[aria-expanded='true'] {
      border-color: gesso-brand(blue, base);
    }

    @include breakpoint(900px) {
      font-size: font-size(heading, sm);
      line-height: math.div(units(2), font-size(heading, sm));
    }

    &.has-subnav {
      display: flex;
      gap: rem(gesso-spacing('05'));
      justify-content: space-between;

      &[aria-expanded='true'] > .menu__link-icon {
        transform: rotate(0deg);
      }

      @include at-media($theme-header-min-width) {
        background: gesso-brand(blue, dark);
        border: 0;
        color: gesso-grayscale(white);
        font-family: font-family(heading);
        font-size: font-size(heading, xs);
        line-height: math.div(units(2), font-size(heading, xs));
        padding: gesso-spacing(2) gesso-spacing(3);
        width: auto;

        // stylelint-disable-next-line max-nesting-depth
        &:visited {
          color: gesso-grayscale(white);
        }

        // stylelint-disable-next-line max-nesting-depth
        &:hover,
        &:focus,
        &.is-active {
          background: transparent;
        }
      }
    }

    &:not(.has-subnav) {
      @include at-media($theme-header-min-width) {
        padding: gesso-spacing(2) gesso-spacing(3);
      }
    }
  }

  .menu__link-icon {
    font-size: 1em;
    top: -1px;
    transform: rotate(-180deg);
    transition: transform gesso-duration(standard) gesso-easing(ease-out);

    @include at-media($theme-header-min-width) {
      font-size: 1.1em;
    }
  }

  // CSS dropdown fallback for when JS is disabled.
  // stylelint-disable
  html.no-js & {
    > .menu__item:hover {
      > .menu__link {
        background: gesso-brand(blue, dark);

        > .menu__link-icon {
          transform: rotate(0deg);
        }
      }

      @include at-media($theme-header-min-width) {
        > .menu__subnav .menu__link {
          @include visually-hidden-off();
        }
      }
    }

    .menu__subnav .menu__link {
      @include visually-hidden();

      &:focus {
        @include visually-hidden-off();
      }
    }
  }
  // stylelint-enable

  .menu__subnav {
    @include list-clean();
    background: gesso-grayscale(gray-1);
    width: 100%;

    @include at-media($theme-header-min-width) {
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      position: absolute;
      width: auto;
      z-index: 1;

      // stylelint-disable-next-line selector-no-qualifying-type
      html:not(.no-js) &[hidden] {
        display: none;
      }

      .usa-header--extended & {
        padding: gesso-spacing(3) gesso-spacing(2);

        &::before,
        &::after {
          background: gesso-grayscale(gray-1);
          box-shadow: 0 16px 32px 0 rgba(237, 239, 240, 0.1);
        }
      }
    }

    .menu__item {
      border-bottom: 1px solid gesso-grayscale(gray-3);
      border-top: 0;
      display: block;
      margin-right: 0;

      @include at-media($theme-header-min-width) {
        border: 0;
        display: grid;
        grid-template-columns: 1fr;
      }

      // First menu item is for section overview page.
      &:first-child {
        grid-column: 1 / span 4;

        @include at-media($theme-header-min-width) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        // stylelint-disable-next-line
        .menu__link {
          font-weight: gesso-font-weight(bold);
        }
      }
    }

    .menu__link {
      color: gesso-grayscale(gray-5);
      font-family: font-family(body);
      font-size: font-size(body, 2xs);
      font-weight: normal;
      line-height: gesso-line-height(2);
      padding: gesso-spacing(1) gesso-spacing(1) gesso-spacing(1) gesso-spacing(4);
      width: 100%;

      &:visited {
        color: gesso-grayscale(gray-5);
      }

      @include at-media($theme-header-min-width) {
        border-width: 0 units(0.5);
        display: block;
        font-size: font-size(body, xs);
        padding: gesso-spacing(1) gesso-spacing(1) gesso-spacing(1) gesso-spacing(2);

        // stylelint-disable-next-line max-nesting-depth
        &:hover,
        &:focus,
        &.is-active {
          border-color: gesso-brand(blue, base);
          color: gesso-brand(blue, base);
        }
      }
    }
  }
}
