// @file
// Styles for the main menu.

$button-width: rem(gesso-spacing(4));

.menu--main {
  @include list-clean();
  background: gesso-brand(blue, base);
  color: gesso-grayscale(white);

  @include at-media($theme-header-min-width) {
    display: flex;
  }

  .menu__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    @include at-media($theme-header-min-width) {
      display: inline-block;
      margin-right: gesso-spacing(3);
    }
  }

  .menu__link {
    color: gesso-grayscale(white);
    display: block;
    font-family: font-family(heading);
    font-size: font-size(heading, sm);
    font-weight: bold;
    line-height: units(2) / font-size(heading, sm);
    padding: gesso-spacing(2) gesso-spacing(1);
    text-decoration: none;
    width: calc(100% - #{$button-width});

    &:visited {
      color: gesso-grayscale(white);
    }

    &:hover,
    &:focus {
      background: gesso-brand(blue, dark);
    }

    @include at-media($theme-header-min-width) {
      display: inline-block;
      vertical-align: top;
      width: auto;
    }
  }

  .menu__button {
    align-items: center;
    appearance: none;
    background: transparent;
    border: 0;
    color: gesso-grayscale(white);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 0 gesso-spacing(1);
    width: $button-width;

    &[aria-expanded='true'] {
      .menu__button-icon {
        transform: rotate(0deg);
      }
    }

    &:hover,
    &:focus {
      background: gesso-brand(blue, dark);
    }

    @include at-media($theme-header-min-width) {
      height: 100%;
      vertical-align: top;
    }
  }

  .menu__button-icon {
    fill: currentColor;
    height: 1em;
    transform: rotate(-180deg);
    width: 1em;
  }

  .menu__subnav {
    @include list-clean();
    background: gesso-grayscale(gray-1);
    width: 100%;

    @include at-media($theme-header-min-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      width: auto;

      &[hidden] {
        display: none;
      }
    }

    .menu__item {
      border: 0;
      display: block;
      margin-right: 0;

      @include at-media($theme-header-min-width) {
        display: grid;
        grid-template-columns: 1fr;
        width: 12rem;
      }
    }

    .menu__link {
      border-color: transparent;
      border-style: solid;
      border-width: 0 units(0.5);
      color: gesso-brand(blue, base);
      font-family: font-family(body);
      font-size: font-size(body, xs);
      font-weight: normal;
      line-height: gesso-line-height(2);
      width: 100%;

      &:visited {
        color: gesso-brand(blue, base);
      }

      &:hover,
      &:focus {
        background: gesso-grayscale(gray-2);
        border-color: gesso-brand(blue, base);
        color: gesso-brand(blue, base);
      }

      @include at-media($theme-header-min-width) {
        display: block;
      }
    }
  }
}
