{% set header_info %}
  {% include '@components/web-area-title/web-area-title.twig' with {
    'text': 'ECHO',
  } %}
{% endset %}

{% set contact_link %}
  {% include '@components/header-link/header-link.twig' with {
    'url': '#',
    'text': 'Contact Us',
  } %}
{% endset %}

{% set content %}
  {% include '@components/box/box--multipurpose/box--multipurpose.twig' with {
    'modifier_classes': 'u-align-right',
    'title': {
      'tag': 'div',
      'text': '',
      'icon': '',
    },
    'img': {
      'small': {
         'src': 'https://www.epa.gov/sites/production/files/styles/block_header/public/2013-06/doyouknowyourhistory.jpg',
         'alt': 'Do you know your EPA history?',
         'width': '320',
      },
     'medium': {
         'src': 'https://www.epa.gov/sites/production/files/styles/block_header/public/2013-06/doyouknowyourhistory.jpg',
      },
   },
    'content': '<p>We celebrate EPA’s “birthday” every December 2. What actually happened on December 2, 1970?</p>',
  } only %}
  {% include '@components/box/box--related-info/box--related-info.twig' with {
    'modifier_classes': 'u-align-right u-clear-right',
    'title': {
      'tag': 'div',
      'text': 'Related Information',
    },
    'content': '<p><a href="#">History of Earth Day</a></p>',
  } only %}
  <p>This is the body content, which can contain <abbr title="Hyper Text Markup Language">HTML</abbr> markup. There is no limit to how long this content can be. it could have both <a href="#">internal</a> and <a href="https://example.com">external</a> links.</p>
  <h2>Heading Level 2</h2>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <h3>Heading Level 3</h3>
  <ul>
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
      Lists can be nested inside of each other
      <ul>
        <li>This is a nested list item</li>
        <li>This is another nested list item in an unordered list</li>
      </ul>
    </li>
    <li>This is the last list item</li>
  </ul>
  <table>
    <caption>Table caption</caption>
    <thead>
      <tr>
        <th>Table Heading A</th>
        <th>Table Heading B</th>
        <th>Table Heading C</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Table Footer A</th>
        <th>Table Footer B</th>
        <th>Table Footer C</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Table Cell A1</td>
        <td>Table Cell B1</td>
        <td>Table Cell C1</td>
      </tr>
      <tr>
        <td>Table Cell A2</td>
        <td>Table Cell B2</td>
        <td>Table Cell C2</td>
      </tr>
      <tr>
        <td>Table Cell A3</td>
        <td>Table Cell B3</td>
        <td>Table Cell C3</td>
      </tr>
      <tr>
        <td>Table Cell A4</td>
        <td>Table Cell B4</td>
        <td>Table Cell C4</td>
      </tr>
    </tbody>
  </table>
  <h3>Audio</h3>
  <figure class="figure figure--medium u-align-right">
    <audio controls="controls" class="audio mediaelementjs"><source src="../../../source/audio/sample.mp3" type="audio/mpeg"><p><a href="../../../source/audio/sample.mp3">Download Audio</a></p></audio>
    <figcaption class="figure__caption">
      <div class="field field--simple field--tight"><strong class="field__label">Transcript</strong> <a href="#">Right-aligned Medium Audio</a></div>
      <div class="field field--simple field--tight"><strong class="field__label">Running Time</strong> 0:04:31</div>
      <div class="field field--simple field--tight"><strong class="field__label">Author</strong> <a href="#">US EPA</a></div>
    </figcaption>
  </figure>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <figure class="figure figure--small u-align-left">
    <audio controls="controls" class="audio mediaelementjs"><source src="../../../source/audio/sample.mp3" type="audio/mpeg"><p><a href="../../../source/audio/sample.mp3">Download Audio</a></p></audio>
    <figcaption class="figure__caption">
      <div class="field field--simple field--tight"><strong class="field__label">Transcript</strong> <a href="#">Left-aligned Medium Audio</a></div>
      <div class="field field--simple field--tight"><strong class="field__label">Running Time</strong> 0:04:31</div>
      <div class="field field--simple field--tight"><strong class="field__label">Author</strong> <a href="#">US EPA</a></div>
    </figcaption>
  </figure>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <figure class="figure figure--medium is-centered">
    <audio controls="controls" class="audio mediaelementjs"><source src="../../../source/audio/sample.mp3" type="audio/mpeg"><p><a href="../../../source/audio/sample.mp3">Download Audio</a></p></audio>
    <figcaption class="figure__caption">
      <div class="field field--simple field--tight"><strong class="field__label">Transcript</strong> <a href="#">Centered Medium Audio</a></div>
      <div class="field field--simple field--tight"><strong class="field__label">Running Time</strong> 0:04:31</div>
      <div class="field field--simple field--tight"><strong class="field__label">Author</strong> <a href="#">US EPA</a></div>
    </figcaption>
  </figure>
  <h3>Boxes</h3>
  <div class="box box--related-info u-align-right">
    <h4 class="box__title">Related Information</h4>
    <div class="box__content">
      <p>This is an example of a <strong>related info box</strong> floated to the right.</p>
    </div>
  </div>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <div class="box box--related-info u-align-left">
    <h4 class="box__title">Related Information</h4>
    <div class="box__content">
      <p>This is an example of a <strong>related info box</strong> floated to the left.</p>
    </div>
  </div>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <div class="box box--multipurpose has-image-header u-align-right">
    <img class="box__image" src="https://fpoimg.com/320x200?text=Small" alt="Small" sizes="(max-width: 320px) calc(100vw - 2rem), 320px" srcset="https://fpoimg.com/320x200?text=Small 320w, https://fpoimg.com/640x400?text=Medium 640w" width="320" height="200">
    <div class="box__content">
      <p>This is an example of a <strong>multipurpose box</strong> with image header floated to the right.</p>
    </div>
  </div>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <h3>Images</h3>
  <figure class="figure figure--medium u-align-right">
    <div class="figure__media">
      <img src="https://fpoimg.com/640x400?text=Medium" alt="Medium" sizes="(max-width: 640px) calc(100vw - 4rem), 640px" srcset="https://fpoimg.com/320x200?text=Small 320w, https://fpoimg.com/640x400?text=Medium 640w, https://fpoimg.com/960x600?text=Large 960w, https://fpoimg.com/1280x800?text=Huge 1280w" width="640" height="400">
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>medium image</strong> with a caption floated to the right.
    </figcaption>
  </figure>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <figure class="figure figure--small u-align-left">
    <div class="figure__media">
      <img src="https://fpoimg.com/320x200?text=Small" alt="Small" sizes="(max-width: 320px) calc(100vw - 2rem), 320px" srcset="https://fpoimg.com/320x200?text=Small 320w, https://fpoimg.com/640x400?text=Medium 640w" width="320" height="200">
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>small image</strong> with a caption floated to the left.
    </figcaption>
  </figure>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <figure class="figure figure--medium is-centered">
    <div class="figure__media">
      <img src="https://fpoimg.com/640x400?text=Medium" alt="Medium" sizes="(max-width: 640px) calc(100vw - 4rem), 640px" srcset="https://fpoimg.com/320x200?text=Small 320w, https://fpoimg.com/640x400?text=Medium 640w, https://fpoimg.com/960x600?text=Large 960w, https://fpoimg.com/1280x800?text=Huge 1280w" width="640" height="400">
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>medium image</strong> with a caption centered on the page.
    </figcaption>
  </figure>
  <figure class="figure figure--large is-centered">
    <div class="figure__media">
      <img src="https://fpoimg.com/960x600?text=Large" alt="Large" sizes="(max-width: 960px) calc(100vw - 4rem), 960px" srcset="https://fpoimg.com/320x200?text=Small 320w, https://fpoimg.com/640x400?text=Medium 640w, https://fpoimg.com/960x600?text=Large 960w, https://fpoimg.com/1280x800?text=Huge 1280w, https://fpoimg.com/1920x1200?text=Colossal 1920w" width="960" height="600">
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>large image</strong> with a caption centered on the page.
    </figcaption>
  </figure>
  <div class="image-gallery js-slideshow">
    <div class="image-gallery__title">Image Gallery</div>
    <div class="image-gallery__controls js-slideshow__controls">
      <button class="image-gallery__prev" aria-label="Previous Image"><svg class="icon icon--image-gallery-control" aria-hidden="true"><use xlink:href="../../../images/sprite.artifact.svg#chevron-circle-left"></use></svg></button>
      <button class="image-gallery__next" aria-label="Next Image"><svg class="icon icon--image-gallery-control" aria-hidden="true"><use xlink:href="../../../images/sprite.artifact.svg#chevron-circle-right"></use></svg></button>
    </div>
    <div class="image-gallery__nav js-slideshow__nav"><button class="image-gallery__nav-button"></button><button class="image-gallery__nav-button"></button><button class="image-gallery__nav-button"></button><button class="image-gallery__nav-button"></button></div>
    <ul class="image-gallery__list js-slideshow__container">
      <li class="image-gallery__item">
        <figure class="figure figure--gallery">
          <div class="figure__media"><img src="https://fpoimg.com/320x180?text=Small%20Gallery" alt="Small Gallery" sizes="(max-width: 320px) calc(100vw - 2rem), 320px" srcset="https://fpoimg.com/320x180?text=Small%20Gallery 320w, https://fpoimg.com/640x360?text=Medium%20Gallery 640w" width="320" height="180"></div>
          <figcaption class="figure__caption">First image with an optional caption</figcaption>
        </figure>
      </li>
      <li class="image-gallery__item">
        <figure class="figure figure--gallery">
          <div class="figure__media"><img src="https://fpoimg.com/320x180?text=Small%20Gallery" alt="Small Gallery" sizes="(max-width: 320px) calc(100vw - 2rem), 320px" srcset="https://fpoimg.com/320x180?text=Small%20Gallery 320w, https://fpoimg.com/640x360?text=Medium%20Gallery 640w" width="320" height="180"></div>
        </figure>

      </li>
      <li class="image-gallery__item">
        <figure class="figure figure--gallery">
          <div class="figure__media"><img src="https://fpoimg.com/320x180?text=Small%20Gallery" alt="Small Gallery" sizes="(max-width: 320px) calc(100vw - 2rem), 320px" srcset="https://fpoimg.com/320x180?text=Small%20Gallery 320w, https://fpoimg.com/640x360?text=Medium%20Gallery 640w" width="320" height="180"></div>
          <figcaption class="figure__caption">Third image with an optional caption, which might be really long</figcaption>
        </figure>
      </li>
      <li class="image-gallery__item">
        <figure class="figure figure--gallery">
          <div class="figure__media"><img src="https://fpoimg.com/320x180?text=Small%20Gallery" alt="Small Gallery" sizes="(max-width: 320px) calc(100vw - 2rem), 320px" srcset="https://fpoimg.com/320x180?text=Small%20Gallery 320w, https://fpoimg.com/640x360?text=Medium%20Gallery 640w" width="320" height="180"></div>
        </figure>
      </li>
    </ul>
  </div>
  <h3>Pull Quotes</h3>
  <blockquote class="pull-quote u-align-right">
    <p>This is an example of a <strong>pull quote</strong> floated to the right.</p>
    <cite class="pull-quote__cite">Quote Source</cite>
  </blockquote>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <blockquote class="pull-quote u-align-left">
    <p>This is an example of a <strong>pull quote</strong> floated to the left.</p>
    <cite class="pull-quote__cite">Quote Source</cite>
  </blockquote>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <blockquote class="pull-quote">
    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
    <cite class="pull-quote__cite">Quote Source</cite>
  </blockquote>
  <h3>Videos</h3>
  <figure class="figure figure--video figure--medium u-align-right">
    <div class="figure__media">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/UeRgyHBGwT0?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;enablejsapi=1" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>medium video</strong> with a caption floated to the right.
    </figcaption>
  </figure>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <figure class="figure figure--video figure--small u-align-left">
    <div class="figure__media">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/UeRgyHBGwT0?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;enablejsapi=1" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>small video</strong> with a caption floated to the left.
    </figcaption>
  </figure>
  <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
  <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer successive paragraphs indented with no margins between them.</p>
  <figure class="figure figure--video figure--medium is-centered">
    <div class="figure__media">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/UeRgyHBGwT0?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;enablejsapi=1" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>medium video</strong> with a caption centered on the page.
    </figcaption>
  </figure>
  <figure class="figure figure--video figure--large is-centered">
    <div class="figure__media">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/UeRgyHBGwT0?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;enablejsapi=1" allowfullscreen frameborder="0"></iframe>
      </div>
    </div>
    <figcaption class="figure__caption">
      This is an example of a <strong>large video</strong> with a caption centered on the page. Captions, also known as cutlines, are a few lines of text used to explain or elaborate on published media.
    </figcaption>
  </figure>
  <h3>Grids</h3>
  <div class="grid-row">
    <div class="grid-col-6"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 1
    </p></div>
    <div class="grid-col-6"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 2
    </p></div>
  </div>
  <div class="grid-row">
     <div class="grid-col-4"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 1
    </p></div>
    <div class="grid-col-4"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 2
    </p></div>
    <div class="grid-col-4"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 3
    </p></div>
  </div>
  <div class="grid-row">
    <div class="grid-col-3"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 1
    </p></div>
    <div class="grid-col-3"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 2
    </p></div>
    <div class="grid-col-3"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 3
    </p></div>
    <div class="grid-col-3"><p style="background:#333;border:1px solid #fff;color:#fff;margin:0;padding:1em;">
      Grid Item 4
    </p></div>
  </div>
{% endset %}

{% set sidenav %}
  {% include '@components/menu/menu--sidenav/menu--sidenav.twig' with {
    'menu_name': 'sidenav',
  } %}
{% endset %}

{% set page_content %}
  {% include '@templates/detail-pages/page-with-sidenav.twig' with {
    'title': page_title,
    'body': content,
    'sidenav': sidenav,
    'has_sidenav': has_sidenav,
  } %}
{% endset %}

{# pass page_content to default page wrapper #}
{% include '@pages/_page-default.twig' with {
  'content': page_content
} %}
