{% set header_info %}
  {% include '@components/breadcrumb/breadcrumb.twig' with {
    'hide_title': true,
    'breadcrumb': [
      {
        'url': '#0',
        'text': 'Home',
      },
      {
        'url': '#1',
        'text': 'Level One',
      },
      {
        'url': '#2',
        'text': 'Level Two',
      },
      {
        'text': 'Current item',
      },
    ],
  } %}
{% endset %}

{% set author_content_1 %}
  <p><strong><a href="/themes/epa_theme/pattern-lab/patterns/07-pages-listing-pages-perspectives/07-pages-listing-pages-perspectives.rendered.html">Alexandra Dapolito Dunn</a></strong><br>Assistant Administrator<br>Office of Chemical Safety and Pollution Prevention</p>
  <p>Alexandra Dapolito Dunn is the Assistant Administrator for the Office of Chemical Safety and Pollution Prevention. Prior to that she served as the Regional Administrator for EPA Region 1, and her responsibilities included overseeing the states of Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont and ten tribal nations.</p>
{% endset %}

{% set author_content_2 %}
  <p><strong><a href="/themes/epa_theme/pattern-lab/patterns/07-pages-listing-pages-perspectives/07-pages-listing-pages-perspectives.rendered.html">Scott Mason</a></strong><br>Director<br>American Indian Environmental Office</p>
  <p>Scott Mason is Director of the United States Environmental Protection Agency’s American Indian Environmental Office. AIEO lead efforts across the agency to protect human health and the environment in Indian country. Before coming to EPA, Scott was a vice president and the executive director of federal programs at The University of Oklahoma, where he led state and federal relations for all three of the university’s campuses. Prior to joining OU, Scott served on the staff of Oklahoma Governor Mary Fallin, as well as on her gubernatorial transition team. Scott is a proud citizen and enrolled member of the Cherokee Nation and is 5th generation western Oklahoman.</p>
{% endset %}

{% set editor_note %}
  <p><strong>Editor’s Note: </strong>The views expressed here are intended to explain EPA policy. They do not change anyone’s rights or obligations. You may share this post. However, please do not change the title or the content, or remove EPA’s identity as the author. If you do make substantive changes, please do not attribute the edited title or content to EPA or the author.</p>
  <p>EPA’s official web site is <a href="https://www.epa.gov/">www.epa.gov</a>. Some links on this page may redirect users from the EPA website to specific content on a non-EPA, third-party site. In doing so, EPA is directing you only to the specific content referenced at the time of publication, not to any other content that may appear on the same webpage or elsewhere on the third-party site, or be added at a later date.</p>
  <p>EPA is providing this link for informational purposes only. EPA cannot attest to the accuracy of non-EPA information provided by any third-party sites or any other linked site. EPA does not endorse any non-government websites, companies, internet applications or any policies or information expressed therein.</p>
{% endset %}

{% set content %}
  <p>October 27, 2020</p>
  <p>In celebration of Children’s Health Month, we are excited to kick off this year’s <a href="#">National Lead Poisoning Prevention Week</a> by showcasing <em>Lead Awareness in Indian Country: Keeping our Children Healthy!</em> – a new curriculum to help tribes and communities take the first step in protecting children from potential lead exposure by educating parents and caregivers. The curriculum is a robust set of educational tools that community leaders can use to improve public awareness of the health risks associated with lead exposure and promote actions to reduce this exposure.</p>
  <figure class="figure figure--small u-align-left">
    <div class="figure__media">
      <img src="https://s3-us-gov-west-1.amazonaws.com/cg-c877c3f0-e413-40cd-a59c-ad2d6b211d1b/uploads/sites/4/2020/10/20201021_tribal_lead_curriculum_instagram-300x300.png" alt="Lead Awareness in Indian Country: Keeping our Children Healthy!" sizes="(max-width: 300px) calc(100vw - 2rem), 300px" srcset="https://s3-us-gov-west-1.amazonaws.com/cg-c877c3f0-e413-40cd-a59c-ad2d6b211d1b/uploads/sites/4/2020/10/20201021_tribal_lead_curriculum_instagram-300x300.png 300w, https://s3-us-gov-west-1.amazonaws.com/cg-c877c3f0-e413-40cd-a59c-ad2d6b211d1b/uploads/sites/4/2020/10/20201021_tribal_lead_curriculum_instagram-768x768.png 768w" width="300" height="300">
    </div>
  </figure>
  <p>Tribes can face some unique challenges when it comes to lead exposure. Due to their connection and dependence on the environment for the survival of their culture(s) and their subsistence practices, tribal and indigenous populations may have different potential sources of exposure to lead. That’s why we partnered with over 200 tribal representatives to understand the real-life situations these communities are facing and the preventative actions that make the most sense in their daily lives.</p>
  <p>The curriculum uses an impressive design to balance diverse community backgrounds, technical information and localized knowledge to provide community leaders an opportunity to plan and deliver unique messages within each structured module. Instructors with local knowledge will use the curriculum to enhance learning experiences for parents, caregivers and other community members. One way the curriculum does this is by including tribal scenarios and stories, such as the use of lead fishing sinkers and cleanup efforts at Superfund sites to help bring a local awareness and understanding of lead exposure and prevention.</p>
  <p>While focused on tribes, the curriculum is adaptable for all communities. Those who use the curriculum will find it educates participants on simple actions that anyone can take to reduce children’s potential exposure to lead, such as effective cleaning techniques, proper handwashing and good nutrition.</p>
  <p>Protecting children from lead exposure remains a priority for EPA and for all communities. We encourage you to explore the curriculum to learn how to identify sources of and ways to reduce childhood lead exposure in your own community at <a href="#">https://www.epa.gov/lead/tribal-lead-curriculum</a>.</p>

  {% include '@components/summary-box/summary-box--image-right/summary-box--image-right.twig' with {
    'id': 'author-1',
    'modifier_classes': 'margin-y-4 u-clear-both',
    'image': '<img src="https://s3-us-gov-west-1.amazonaws.com/cg-c877c3f0-e413-40cd-a59c-ad2d6b211d1b/uploads/sites/4/2019/04/alexdunn.png" alt="Alexandra Dapolito Dunn, Assistant Administrator of U.S. EPA Office of Chemical Safety and Pollution Prevention" width="192" height="288">',
    'heading': 'About the Author',
    'heading_element': 'h2',
    'content': author_content_1,
  } only %}

  {% include '@components/summary-box/summary-box--image-right/summary-box--image-right.twig' with {
    'id': 'author-2',
    'modifier_classes': 'margin-y-4 u-clear-both',
    'image': '',
    'heading': 'About the Author',
    'heading_element': 'h2',
    'content': author_content_2,
  } only %}

  {% include '@components/box/box--special/box--special.twig' with {
    'modifier_classes': 'margin-y-4 font-sans-3xs box--editors-note',
    'content': editor_note,
  } only %}
{% endset %}

{% set sidenav %}
  {% include '@components/box/box--related-links/box--related-links.twig' with {
    'modifier_classes': 'margin-y-4',
    'content': related_info,
    'title': {
      'tag': 'h2',
      'text': 'Related Links'|t,
    },
  } only %}
{% endset %}

{% set page_content %}
  {% include '@templates/detail-pages/page-with-sidenav.twig' with {
    'title': page_title,
    'admin_info': page_admin_info,
    'intro': intro,
    'body': content,
    'sidenav': sidenav,
    'has_sidenav': has_sidenav,
  } %}
{% endset %}

{# pass page_content to default page wrapper #}
{% include '@pages/_page-default.twig' with {
  'content': page_content,
} %}
