{% set contact_link %}
  {% include '@components/header-link/header-link.twig' with {
    'url': '#',
    'text': 'Contact Us',
  } %}
{% endset %}

{% set content %}
  <div class="u-align-right box-wrap">
    <figure class="figure figure--image">
      <div class="figure__media">
        <img srcset="https://www.epa.gov/sites/default/files/2021-03/mr-crop.jpg 160w, https://www.epa.gov/sites/default/files/2021-03/mr-crop.jpg 320w" sizes="(max-width: 160px) calc(100vw - 2rem), 160px" src="https://www.epa.gov/sites/default/files/2021-03/mr-crop.jpg" width="300" alt="image of Michael Regan, EPA Administrator" loading="lazy">
      </div>
    </figure>
    {% include '@components/box/box--related-info/box--related-info.twig' with {
      'title': {
        'tag': 'div',
        'text': 'Related Information',
      },
      'content': '<ul><li><a href="#0">Read more EPA Speeches and Remarks</a></li><li><a href="#watch">Watch the Event</a></li><li><a href="#0">Read the September 2022 news release</a></li><li><a href="#0">Learn about Environmental Justice</a></li><li><a href="#0">Learn about External Civil Rights</a></li></ul>',
    } only %}
  </div>
  <h2>Administrator Michael Regan</h2>
  <h3 class="h4">September 24th, 2022<br>Warren, North Carolina</h3>
  <p>Good afternoon, evervone.</p>
  <p>It’s a beautiful day to be in North Carolina. Thank you, all, for joining us.</p>
  <p>What an honor to be in the presence of so many giants of the environmental justice
and civil rights movements - especially as we conclude a weeklong commemoration of the birth of the environmental justice movement, whose roots are firmly planted right here in Warren County, North Carolina.</p>
  <p>As a proud son of North Carolina, born and raised, I was just a child when the state decided to site a PCB landfill in the backyard of a predominantly Black community.
But I remember my parents discussing the heroism of the women and men who
locked arms and laid down brazenly in front of trucks carrying dirt laced with PCBs.</p>
  <p>Women and men like Dollie Burwell and Ben Chavis, Rev. Bill Kearney and EPA’s very own Charles Lee who joined protestors in solidarity.</p>
  <p>A Washington Post story at the time quoted Reverend Luther Brown, a pastor of the largest Black congregation in the area. He said, “We know why they picked us… it’s
because it’s a poor county - poor politically, poor in health, poor in education and
because it’s mostly Black. Nobody thought people like us would make a fuss.”</p>
  <p>So, not only did they make a fuss - they ignited an entire movement.</p>
  <p>Today, Warren county is synonymous with being the birthplace of environmental justice. Those protests 40 years ago were not only a catalyst for the environmental justice movement as we know it, but for a real awakening in the consciousness of communities that had been underserved and overburdened for years.</p>
  <h2 class="highlight" id="watch">Watch the Event</h2>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uxN-gIiPnpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
{% endset %}

{% set page_content %}
  {% include '@templates/detail-pages/page.twig' with {
    'title': page_title,
    'admin_info': page_admin_info,
    'intro': intro,
    'body': content,
    'is_narrow': true,
  } %}
{% endset %}

{# pass page_content to default page wrapper #}
{% include '@pages/_page-default.twig' with {
  'content': page_content,
} %}
