{% set header_info %}
  {% include '@components/web-area-title/web-area-title.twig' with {
    'text': 'EPA in New York',
  } %}
{% endset %}

{% set contact_link %}
  {% include '@components/header-link/header-link.twig' with {
    'url': '#',
    'text': 'Contact Us',
  } %}
{% endset %}

{% set page_messages %}
  {% if show_admin_info %}
    {% include '@uswds/alert/alert--success/alert--success.twig' with {
      'title': 'Status message',
      'content': '<p class="usa-alert__text">Basic page <em class="placeholder"><a href="#" hreflang="en">' ~ page_title ~ '</a></em> has been updated.</p>',
    } %}
  {% endif %}
{% endset %}

{% set page_tasks %}
  {% if show_admin_info %}
    {% include '@components/button-group/button-group--base/button-group--base.twig' with {
      'buttons': local_tasks,
    } %}
  {% endif %}
{% endset %}

{% set content %}
  <p><em>Please use the form below to send us comments or questions. Be sure to include your e-mail address if you’d like a response.</em></p>
  {% include '@components/field/field.twig' with {
    'label': 'Mailing Address',
    'label_element': 'div',
    'element': 'div',
    'field_items': [
        {
          'content': '<address>US EPA Region 2<br>290 Broadway<br>New York, New York 10007-1866</address>',
        },
    ],
  } %}
  <form>
    <div class="form-item form-item--textfield">
      <label class="form-item__label" for="edit-submitted-name">
        Name
      </label>
      <input class="form-item__text" id="edit-submitted-name" type="text" name="submitted[name]" value="" size="60" maxlength="128">
      <div class="form-item__description">Please enter a name to address you by.</div>
    </div>
    <div class="form-item form-item--email">
      <label class="form-item__label" for="edit-submitted-email">
        Email
      </label>
      <input class="form-item__email" id="edit-submitted-email" type="text" name="submitted[name]" value="" size="60">
      <div class="form-item__description">Please enter a valid email address.</div>
    </div>
    <div class="form-item form-item--textarea">
      <label class="form-item__label" for="edit-submitted-comments">
        Comments
        <abbr class="usa-hint usa-hint--required" title="required">*</abbr>
      </label>
      <textarea class="form-item__textarea" id="edit-submitted-comments" required="required" cols="60" rows="5"></textarea>
      <div class="form-item__description">Please enter your comments.</div>
    </div>
    {% include '@components/button/button.twig' with {
      'is_button_tag': true,
      'text': 'Submit',
    } %}
  </form>
{% endset %}

{% set sidebar %}
  {% include '@components/box/box--report-violation/box--report-violation.twig' with {
    'title': {
      'tag': 'div',
      'text': 'Report a Violation',
      'url': '#',
    },
    'img': false,
    'content': '<p>Report possible violations of environmental laws and regulations.</p>',
  } %}
{% endset %}

{% set page_content %}
  {% include '@templates/detail-pages/page.twig' with {
    'title': page_title,
    'messages': page_messages,
    'tasks': page_tasks,
    'intro': intro,
    'body': content,
    'sidebar': sidebar,
  } %}
{% endset %}

{# pass page_content to default page wrapper #}
{% include '@pages/_page-default.twig' with {
  'content': page_content
} %}
