// @file
// Utility styles
// Configuration
@forward '_patterns/00-config/uswds-theme.artifact' hide map-deep-get,
  strip-unit, typeset-heading, typeset-p, u-maxw;

// USWDS and Gesso utility classes.
@forward 'uswds-utilities';
@forward '_patterns/utility-classes';
