// @file
// WYSIWYG styles
$wysiwyg: true;

@import 'styles';

// stylelint-disable-next-line
body.cke_editable {
  outline: none !important;
}

// stylelint-disable-next-line
.cke_widget_drupalmedia {
  display: inline;

  drupal-media {
    display: inline;
    outline: none !important;

    > a::after {
      display: none !important;
    }
  }

  // stylelint-disable-next-line
  .cke_widget_drag_handler_container {
    display: none;
  }
}

a[data-cke-saved-href]::after {
  display: none !important;
}
