// @file
// WYSIWYG styles

@use '_patterns/uswds-theme-settings.artifact';

// Required USWDS styles.
@use 'uswds' as *;

// Gesso configuration.
@use '_patterns/00-config' as * with($wysiwyg: true);
@use '_patterns/01-global' as *;

// Global USWDS styles.
// We import everything in 'packages/global' except for 'global/typography'
// which is omitted in favor of Gesso’s base HTML styles.
//@import 'lib/normalize';
//@import 'global/font-face';
//@import 'global/focus';
//@import 'global/sizing';

// Gesso base styles.
@use '_patterns/02-base' as *;

// USWDS components.
//@import 'packages/uswds-components';
@use '_patterns/03-uswds' as *;

// Gesso layouts and components.
@use '_patterns/04-layouts' as *;
@use '_patterns/05-components' as *;

// USWDS and Gesso utility classes.
//@import 'packages/uswds-utilities';
@use '_patterns/utility-classes' as *;

@use '_patterns/shame' as *;

// stylelint-disable-next-line
body.cke_editable {
  outline: none !important;
}

// stylelint-disable-next-line
.cke_widget_drupalmedia {
  display: inline;

  drupal-media {
    display: inline;
    outline: none !important;

    > a::after {
      display: none !important;
    }
  }

  // stylelint-disable-next-line
  .cke_widget_drag_handler_container {
    display: none;
  }
}

a[data-cke-saved-href]::after {
  display: none !important;
}
