// @file
// WYSIWYG styles

// Configuration
@use '_patterns/00-config' as * with($wysiwyg: true);
@use '_patterns/01-global' as *;

// Base styles
@use 'uswds-global' as *;
@use '_patterns/02-base' as *;

// USWDS components
// We pull in everything in 'packages/uswds' except for:
// - 'uswds-global': pulled in elsewhere.
// - 'uswds-typography': omitted in favor of Gesso’s base HTML styles.
// - 'uswds-utilities': pulled in elsewhere.
@use 'usa-accordion' as *;
@use 'usa-alert' as *;
@use 'usa-banner' as *;
@use 'usa-breadcrumb' as *;
@use 'usa-button-group' as *;
@use 'usa-button' as *;
@use 'usa-card' as *;
@use 'usa-checklist' as *;
@use 'usa-collection' as *;
@use 'usa-dark-background' as *;
@use 'usa-embed-container' as *;
@use 'usa-footer' as *;
@use 'usa-form' as *;
@use 'usa-graphic-list' as *;
@use 'usa-header' as *;
@use 'usa-hero' as *;
@use 'usa-icon-list' as *;
@use 'usa-icon' as *;
@use 'usa-identifier' as *;
@use 'usa-layout-docs' as *;
@use 'usa-layout-grid' as *;
@use 'usa-media-block' as *;
@use 'usa-modal' as *;
@use 'usa-nav' as *;
@use 'usa-pagination' as *;
@use 'usa-process-list' as *;
@use 'usa-search' as *;
@use 'usa-section' as *;
@use 'usa-sidenav' as *;
@use 'usa-site-alert' as *;
@use 'usa-skipnav' as *;
@use 'usa-step-indicator' as *;
@use 'usa-summary-box' as *;
@use 'usa-table' as *;
@use 'usa-tag' as *;
@use 'usa-tooltip' as *;
@use 'uswds-form-controls' as *;
@use '_patterns/03-uswds' as *;

// Layouts
@use '_patterns/04-layouts' as *;

// Components
@use '_patterns/05-components' as *;

// USWDS and Gesso utility classes.
@use 'uswds-utilities' as *;
@use '_patterns/utility-classes' as *;

// Shame
@use '_patterns/shame' as *;

// stylelint-disable-next-line
body.cke_editable {
  outline: none !important;
}

// stylelint-disable-next-line
.cke_widget_drupalmedia {
  display: inline;

  drupal-media {
    display: inline;
    outline: none !important;

    > a::after {
      display: none !important;
    }
  }

  // stylelint-disable-next-line
  .cke_widget_drag_handler_container {
    display: none;
  }
}

a[data-cke-saved-href]::after {
  display: none !important;
}
