// @file
// Styles for a Header Link.

.header-link {
  line-height: gesso-line-height(2);
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
