// @file
// Styles for an accent tag.

@use 'uswds' as *;
@use '../../../00-config' as *;

.usa-tag--accent {
  background-color: color($theme-color-accent-cool-light);
  color: color($theme-color-primary-dark);
}
