// @file
// Styles for a Blog Box.

.box--blog {
  @extend %box--with-borders;

  .box__title,
  .box__footer {
    background-color: gesso-brand(green, light-1);
    border-color: gesso-brand(green, light-1);
    color: gesso-grayscale(gray-7);
  }

  .box__content {
    border-color: gesso-brand(green, light-1);
  }

  .box__footer-link {
    color: gesso-grayscale(gray-7);

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: gesso-grayscale(gray-7);
    }
  }
}
