// @file
// Styles for Document.

@use '../../00-config/00-functions' as *;

.document {
  position: relative;

  &__meta {
    color: gesso-color(text, secondary);
    font-size: font-size(body, 2xs);
  }

  &.file--is-private > .file {
    position: relative;
    z-index: 1;
  }
}
