<span class="document">
  {{ file }}
  <span class="document__meta">
    {% if date or publication_number %}
      ({{ date }}{% if date and publication_number %}, {% endif %}{{ publication_number }})
    {% endif %}
    {{ description }}
  </span>
</span>
