{% set classes = [
  'tag-link',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="usa-media-block tablet:grid-col">
  <img class="usa-media-block__img" src="{{ field_media_block_image.src }}" alt="{{ field_media_block_image.alt }}">
  <div class="usa-media-block__body">
    <h2 class="usa-graphic-list__heading">{{ field_title }}</h2>
    {{ field_body }}
  </div>
</div>