// @file
// Styles for a pull quote.

.pull-quote {
  background-color: gesso-grayscale(white);
  border-left: rem(units(1)) solid gesso-brand(aqua, base);
  clear: both;
  margin-bottom: rem(units(3));
  padding: rem(units($theme-alert-padding-x)) 0
    rem(units($theme-alert-padding-x)) rem(units($theme-alert-padding-x));

  > :last-child {
    margin-bottom: 0;
  }

  @include breakpoint(gesso-breakpoint(tablet)) {
    &.u-align-left,
    &.u-align-right {
      margin-top: 0;
      max-width: 50%;
    }
  }
}

.pull-quote__cite {
  text-align: left;
}
