@import 'elements/table';

.usa-table {
  tbody {
    th {
      background-color: color($theme-table-header-background-color);
      font-weight: $theme-font-weight-bold;
    }
  }
}

.usa-table--borderless {
  tbody {
    th {
      background-color: transparent;
    }
  }
}
