// @file
// Styles for the Sidebar First Layout.

$l-sidebar-bp: 900px;

.l-sidebar-first {
  @include breakpoint($l-sidebar-bp) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.l-sidebar-first__main {
  flex-grow: 1;

  @include breakpoint($l-sidebar-bp) {
    max-width: calc(75% - #{rem(gesso-get-map(gutter-width))});
  }
}

.l-sidebar-first__sidebar {
  flex-shrink: 0;

  @include breakpoint($l-sidebar-bp) {
    margin-left: rem(gesso-get-map(gutter-width));
    width: 25%;
  }
}
