{% set classes = [
  'l-sidebar-first',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  <div class="l-sidebar-first__sidebar">
    {% block sidebar %}
      {% include '@layouts/_sample-content/sample-content.twig' with {
        'content': 'Sidebar Content',
      } %}
    {% endblock %}
  </div>
  <div class="l-sidebar-first__main">
    {% block main_content %}
      {% include '@layouts/_sample-content/sample-content.twig' with {
        'content': 'Main Content',
      } %}
    {% endblock %}
  </div>
</div>
