// @file
// Styles for Header Layout.

.l-header {
  margin-bottom: rem(gesso-spacing(3));
}

.l-header__navbar {
  @include at-media($theme-header-min-width) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.l-header__branding {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.l-header__menu-button {
  margin-right: 0 !important;
  width: auto !important;

  @include at-media($theme-header-min-width) {
    display: none !important;
  }
}
