// @file
// Styles for Header Layout.

.l-header {
  border-bottom: 1px solid gesso-grayscale(gray-2);
  margin-bottom: rem(gesso-spacing(2));

  @include at-media($theme-header-min-width) {
    border-bottom: 0;
  }
}

.l-header__navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
