<div class="usa-overlay"></div>
<header class="l-header">
  <div class="l-constrain">
    <div class="l-header__navbar">
      {% block logo %}
        <div style="background:#333;color:#fff;padding:1em;margin:0;">Logo</div>
      {% endblock %}
      <button class="usa-menu-btn">{{ 'Menu'|t }}</button>
    </div>
  </div>
  <div class="l-header__nav">
    {% block navigation %}
      <div style="background:#333;color:#fff;padding:1em;margin:0;">Navigation</div>
    {% endblock %}
  </div>
</header>
