// @file
// Styles for the social menu.

.menu--social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  .menu__item {
    margin: 0 rem(gesso-spacing(1)) rem(gesso-spacing(1)) 0;
    padding-left: 0;
  }

  .menu__link {
    display: block;
    font-size: rem(40px);
    line-height: 0.5;
    text-decoration: none;
  }
}
