// @file
// Styles for the social menu.

.menu--social {
  display: flex;
  list-style-type: none;
  padding: 0;

  .menu__item {
    margin: 0;
    padding-left: 0;

    + .menu__item {
      margin-left: rem(gesso-spacing(1));
    }
  }

  .menu__link {
    display: block;
    font-size: rem(40px);
    line-height: 1;
    text-decoration: none;
  }
}
