<ul class="menu menu--social">
  <li class="menu__item">
    <a class="menu__link" aria-label="EPA’s Facebook" href="https://www.facebook.com/EPA">
      {% include '@components/icon/icon.twig' with {
        'is_hidden': true,
        'modifier_classes': 'icon--social-footer',
        'icon_name': 'facebook-square'
      } %}
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__link" aria-label="EPA’s Twitter" href="https://twitter.com/epa">
      {% include '@components/icon/icon.twig' with {
        'is_hidden': true,
        'modifier_classes': 'icon--social-footer',
        'icon_name': 'twitter-square'
      } %}
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__link" aria-label="EPA’s Youtube" href="https://www.youtube.com/user/USEPAgov">
      {% include '@components/icon/icon.twig' with {
        'is_hidden': true,
        'modifier_classes': 'icon--social-footer',
        'icon_name': 'youtube-square'
      } %}
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__link" aria-label="EPA’s Flickr" href="https://www.flickr.com/photos/usepagov">
      {% include '@components/icon/icon.twig' with {
        'is_hidden': true,
        'modifier_classes': 'icon--social-footer',
        'icon_name': 'flickr-square'
      } %}
    </a>
  </li>
  <li class="menu__item">
    <a class="menu__link" aria-label="EPA’s Instagram" href="https://www.instagram.com/epagov">
      {% include '@components/icon/icon.twig' with {
        'is_hidden': true,
        'modifier_classes': 'icon--social-footer',
        'icon_name': 'instagram-square'
      } %}
    </a>
  </li>
</ul>
