<div class="js-view-dom-id-epa-alerts--{{ alertContext }}">
{% if alertContext is same as('public') %}
  <noscript>
    <div class="sitewide-alert sitewide-alert--information">
      <div class="l-constrain">
        <div class="sitewide-alert__body">
          <div class="sitewide-alert__content">
            <p>JavaScript appears to be disabled on this computer. Please <a href="/alerts">click here to see any active alerts</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </noscript>
{% endif %}
</div>
