<div class="js-view-dom-id-epa-alerts--{{ alertContext }}">
{% if alertContext is same as('public') %}
  <noscript>
    <div class="usa-site-alert usa-site-alert--info">
      <div class="usa-alert">
        <div class="usa-alert__body">
          <div class="usa-alert__text">
            <p>JavaScript appears to be disabled on this computer. Please <a href="/alerts">click here to see any active alerts</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </noscript>
{% endif %}
</div>
