// @file
// Styles for form items.

@use '../../00-config' as *;
@use 'usa-checkbox' as *;
@use 'usa-input' as *;
@use 'usa-label' as *;
@use 'usa-radio' as *;
@use 'usa-range' as *;
@use 'usa-select' as *;
@use 'usa-textarea' as *;

.form-item {
  margin-bottom: gesso-spacing(3);

  // Add top margin when preceded by another element.
  * + & {
    margin-top: gesso-spacing(3);
  }

  &.is-full-width {
    > .form-item__label,
    > .form-item__description,
    > .form-item__color,
    > .form-item__date,
    > .form-item__email,
    > .form-item__month,
    > .form-item__number,
    > .form-item__password,
    > .form-item__range,
    > .form-item__search,
    > .form-item__select,
    > .form-item__tel,
    > .form-item__text,
    > .form-item__textarea,
    > .form-item__time,
    > .form-item__url,
    > .form-item__week {
      max-width: 100%;
    }
  }

  &.is-inline {
    display: inline-block;
    margin-bottom: gesso-spacing(1);
    margin-right: 0;
    width: 100%;

    @include breakpoint(gesso-breakpoint(mobile-lg)) {
      margin-right: gesso-spacing(1);
      width: auto;
    }
  }
}

.form-item__label {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .usa-label;
  font-weight: gesso-font-weight(normal);
  margin-bottom: gesso-spacing('05');
  margin-top: 0;

  .is-disabled > & {
    color: color('disabled');

    .usa-hint {
      color: color('disabled');
    }
  }

  // stylelint-disable-next-line selector-max-id
  #views-exposed-form-search-faqs-page-1 &,
  #views-exposed-form-search-public-notices-page-1 &,
  #views-exposed-form-search-news-releases-page-1 &,
  #views-exposed-form-search-perspectives-page-1 & {
    @include visually-hidden-important();
  }
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__description {
  color: gesso-color(text, secondary);
  font-size: font-size(body, sm);
  margin-top: gesso-spacing('05');
  max-width: units($theme-input-max-width);
}

.form-item__color,
.form-item__date,
.form-item__email,
.form-item__month,
.form-item__number,
.form-item__password,
.form-item__search,
.form-item__select,
.form-item__tel,
.form-item__text,
.form-item__time,
.form-item__url,
.form-item__week {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .usa-input;
  margin-top: 0;

  &:disabled {
    background-color: color($theme-color-disabled-lighter);
    background-image: none;
    border-color: color($theme-color-disabled-light);
    color: color($theme-color-disabled-dark);
  }

  .is-full-width > & {
    max-width: 100%;
  }
}

.form-item__select {
  &[multiple] {
    background-image: none;
  }
}

.form-item__textarea {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .usa-textarea;
  margin-top: 0;

  &:disabled {
    background-color: color($theme-color-disabled-light);
    border-color: color($theme-color-disabled);
    color: color($theme-color-disabled-dark);
  }
}

.form-item__checkbox {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .usa-checkbox__input;
}

.form-item__radio {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .usa-radio__input;
}

.form-item__range {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .usa-range;
  padding: 0;

  &:disabled {
    background: transparent;
    opacity: 0.5;
  }
}

.form-item__select {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .usa-select;

  &[multiple] {
    height: auto;
  }
}
