// @file
// Styles for the Footer.

$bp-footer-columns: 700px;

.footer {
  background-color: gesso-grayscale(gray-6);
  color: gesso-grayscale(white);
  min-height: rem(100px) + rem(gesso-spacing(10));
  padding: rem(gesso-spacing(5)) 0;

  a {
    @extend %dark-bg-link;
  }
}

.footer__epa-seal {
  float: left;
  margin: 0 rem(gesso-spacing(5)) rem(gesso-spacing(5)) 0;

  @include breakpoint($bp-footer-columns) {
    margin-right: (rem(gesso-spacing(5)) / rem($bp-footer-columns)) * 100%;
  }
}

.footer__content {
  display: inline-block;

  @include breakpoint($bp-footer-columns) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__column {
  margin-bottom: rem(46.8px);

  @include breakpoint($bp-footer-columns) {
    margin-bottom: 0;
    width: 30%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__last-updated {
  font-size: font-size(body, 3xs);
  line-height: gesso-line-height(2);
  text-transform: uppercase;
}
