// @file
// Styles for the Footer.

$bp-footer-columns: 700px;

.footer {
  background-color: gesso-grayscale(gray-6);
  color: gesso-grayscale(white);
  margin-top: rem(gesso-spacing(5));
  padding: rem(gesso-spacing(5)) 0;

  a {
    &:link,
    &:visited {
      color: gesso-grayscale(gray-2);
      outline-color: gesso-brand(blue, dark-1);
    }

    &:hover,
    &:focus,
    &:active {
      color: gesso-grayscale(white);
      outline-color: gesso-grayscale(gray-3);
    }
  }
}

.footer__epa-seal {
  margin-bottom: rem(gesso-spacing(5));
}

.footer__content {
  @include breakpoint($bp-footer-columns) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__column {
  margin-bottom: rem(46.8px);

  @include breakpoint($bp-footer-columns) {
    margin-bottom: 0;
    width: 30%;
  }
}

.footer__last-updated {
  line-height: gesso-line-height(2);
  text-transform: uppercase;
}
