{#
 /**
  * @file
  * Theme override for a status message.
  *
  * Available variables:
  * - message_list: List of messages to be displayed, grouped by type.
  * - status_headings: List of all status types.
  * - display: (optional) May have a value of 'status' or 'error' when only displaying messages of that specific type.
  * - attributes: HTML attributes for the element, including:
  *   - class: HTML classes.
  *
  */
#}
{% for type, messages in message_list %}
  {% set message_content %}
    {% if messages|length > 1 %}
      <ul>
        {% for message in messages -%}
          <li>{{ message }}</li>
        {%- endfor %}
      </ul>
    {% else %}
      <p class="usa-alert__text">{{ messages|first }}</p>
    {% endif %}
  {% endset %}

  {% if type == 'status' %}
    {% include '@uswds/alert/alert--success/alert--success.twig' with {
      'title': status_headings[type],
      'content': message_content
    } %}
  {% elseif type == 'error' %}
    {% include '@uswds/alert/alert--error/alert--error.twig' with {
      'title': status_headings[type],
      'content': message_content
    } %}
  {% elseif type == 'warning' %}
    {% include '@uswds/alert/alert--warning/alert--warning.twig' with {
      'title': status_headings[type],
      'content': message_content
    } %}
  {% else %}
    {% include '@uswds/alert/alert--info/alert--info.twig' with {
      'title': status_headings[type],
      'content': message_content
    } %}
  {% endif %}
{% endfor %}
