// @file
// Focus mixin

@mixin focus(
  $width: $theme-focus-width,
  $style: $theme-focus-style,
  $color: $theme-focus-color,
  $offset: $theme-focus-offset
) {
  outline: units($width) $style transparent;
  outline-offset: units($offset);

  &:focus {
    outline-color: color($color);
  }
}
