{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available functions:
 * - flagcount(flag, flaggable) gets the number of flaggings for the given flag and flaggable.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
  {% set action_class = 'action-unflag' %}
{% else %}
  {% set action_class = 'action-flag' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{% set classes = [
  'epa-follow-widget__flag',
  'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
  action_class,
  modifier_classes,
] %}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}

{% apply spaceless %}
  <div class="{{ classes|join(' ') }}">
    <a{{ attributes.addClass('epa-follow-widget__flag-link') }}>{{ title }}</a>
  </div>
{% endapply %}
