// @file
// Styles for an Inverse External Link.

.external-link--inverse {
  &:link,
  &:visited {
    color: gesso-grayscale(gray-2);

    &::after {
      @include svg-background(external-link--gray-2);
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: gesso-grayscale(white);

    &::after {
      @include svg-background(external-link--white);
    }
  }
}
