// @file
// Styles for a RSS Box.

.box--rss {
  @extend %box--with-borders;

  > .box__title,
  > .box__footer {
    background-color: gesso-brand(blue, base);
    border-color: gesso-brand(blue, base);
    color: gesso-grayscale(white);
  }

  > .box__image,
  > .box__image-link > .box__image {
    border-color: gesso-brand(blue, base);
  }

  > .box__content {
    border-color: gesso-brand(blue, base);
  }
}
