@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC homepage';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-sc/homepage-NotoSansSC-Regular.woff2')
  format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-sc/NotoSansSC-Regular.woff2')
  format('woff2');
}
