@font-face {
  font-display: swap;
  font-family: 'Noto Sans GU homepage';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-gu/homepage-NotoSansGujarati-Regular.woff2')
  format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans GU';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-gu/NotoSansGujarati-Regular.woff2')
  format('woff2');
}
