@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-tc/NotoSansTC-Regular.woff2')
  format('woff2');
}
