@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR homepage';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-kr/homepage-NotoSansKR-Regular.woff2')
  format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-kr/NotoSansKR-Regular.woff2')
  format('woff2');
}
