@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-tc/NotoSansTC-Regular.otf')
  format('opentype');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url('/themes/epa_theme/fonts/noto-sans-tc/NotoSansTC-Bold.otf')
  format('opentype');
}
