@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-kr/NotoSansKR-Regular.otf')
  format('opentype');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/themes/epa_theme/fonts/noto-sans-kr/NotoSansKR-Bold.otf')
  format('opentype');
}
