@font-face {
  font-display: swap;
  font-family: 'Noto Sans BN homepage';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-bn/homepage-NotoSansBengali-Regular.woff2')
  format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans BN';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/epa_theme/fonts/noto-sans-bn/NotoSansBengali-Regular.woff2')
  format('woff2');
}
