// @file
// Styles for the Node Tabs bar.

@use '../../00-config' as *;

.node-tabs {
  background-color: gesso-grayscale(white);
  width: 100%;
  z-index: 3;

  @include breakpoint(gesso-breakpoint(tablet)) {
    position: sticky;
  }
}

.node-tabs__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-wrap: nowrap;
    width: auto;
  }
}

.node-tabs__item {
  margin-bottom: 0;
  width: 100%;

  @include breakpoint(gesso-breakpoint(tablet)) {
    width: auto;
  }

  &.has-children {
    &:focus,
    &:focus-within,
    &.is-selected {
      .node-tabs__menu-child {
        display: block;
      }
    }
  }
}

.node-tabs__link {
  align-items: center;
  color: gesso-claro(primary, gray-800);
  display: flex;
  font-size: rem(14px);
  justify-content: center;
  padding: rem(gesso-spacing(105)) rem(gesso-spacing(2));
  text-decoration: none;

  @include breakpoint(gesso-breakpoint(tablet)) {
    justify-content: flex-start;
  }

  &:focus,
  &:focus-within,
  &:hover {
    background-color: gesso-claro(primary, blue-050);
  }

  .icon {
    margin-right: rem(gesso-spacing(1));
    top: auto;
  }

  &.is-active {
    background-color: gesso-claro(primary, blue-050);
    color: gesso-claro(primary, blue);
    font-weight: bold;

    .icon {
      filter: invert(20%) sepia(53%) saturate(4536%) hue-rotate(218deg) brightness(86%) contrast(114%);
    }
  }

  &[aria-disabled="true"] {
    opacity: 0.6;
    pointer-events: none;
  }
}

.node-tabs__menu-child {
  display: none;
  position: absolute;
  z-index: 3;

  @include breakpoint(max-width gesso-breakpoint(tablet)) {
    max-width: 100%;
    position: relative;
  }
}
