<nav class="node-tabs" role="navigation" aria-label="Primary tasks">
  <ul class="node-tabs__menu">
    {% for item in tabs %}
      <li class="node-tabs__item {% if item.children %}has-children{% endif %}">
        <a
          class="node-tabs__link {% if item.is_active %}is-active{% endif %}"

          {% if item.url %} 
            href="{{ item.url }}" 
          {% else %}
            role="link"
            aria-disabled="true"
          {% endif %}  
        >
          {% include '@components/icon/icon.twig' with {
            'is_hidden': true,
            'icon_name': item.icon,
          } %}
          {{ item.title }}
        </a>

        {% if item.children %}
          {% include '@components/node-dialog/node-dialog.twig' with {
            'modifier_classes': 'node-tabs__menu-child',
            'node_dialog': item.children,
          } %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
