<nav class="node-tabs" role="navigation" aria-label="Primary tasks">
  <ul class="node-tabs__menu">
    {% for item in tabs %}
      <li class="node-tabs__item">
        <a 
          href="{{ item.url }}" 
          class="node-tabs__link {% if item.is_active %}is-active{% endif %}"
        >
          {% include '@components/icon/icon.twig' with {
            'is_hidden': true,
            'icon_name': item.icon,
          } %}
          <span class="node-tabs__title">
            {{ item.title }}
          </span>
        </a>

        {% if item.children %}
          <ul class="node-tabs__menu-child">
            {% for child in item.children %}
              <li class="node-tabs__item-child">
                <a 
                  href="{{ child.url }}" 
                  class="{% if child.is_active %}is-active{% endif %}"
                >
                  {{ child.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
