// @file
// Global settings variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$support-for-rtl: true !default;
$breakpoints-ems: true !default;
$container-queries-rems: true !default;
