$wysiwyg: false !default;

@forward 'config.settings';
@forward 'uswds-theme.artifact' hide map-deep-get, strip-unit, typeset-heading,
  typeset-p, u-maxw;
@forward 'design-tokens.artifact';
@forward '00-functions';
@forward '01-mixins';
@forward '02-variables';
