// @file
// Styles for the Reversed Sidebar First Layout.

.l-sidebar-first--reversed {
  @include breakpoint($l-sidebar-bp) {
    flex-direction: row;

    .l-sidebar-first__sidebar {
      margin-left: 0;
      margin-right: rem(gesso-get-map(gutter-width));
    }
  }
}
