<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9 no-js" lang="en" dir="ltr"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)]><!--> <html class="no-js not-oldie" lang="en" dir="ltr"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width" />
  <meta name="version" content="20160314" />
<!--googleon: all-->
  <meta name="DC.description" content="" />
  <meta name="DC.title" content="" />
  <title>{PAGE NAME} | {WEB AREA NAME} | US EPA</title>
<!--googleoff: snippet-->
  <meta name="keywords" content="" />
  <link rel="shortlink" href="" />
  <link rel="canonical" href="" />
  <meta name="DC.creator" content="" />
  <meta name="DC.language" content="en" />
  <meta name="DC.Subject.epachannel" content="" />
  <meta name="DC.type" content="" />
  <meta name="DC.date.created" content="" />
  <meta name="DC.date.modified" content="" />
<!--googleoff: all-->
  <link type="text/css" rel="stylesheet" href="https://www.epa.gov/sites/all/libraries/template/s.css" media="all" />
  <!--[if lt IE 9]><link type="text/css" rel="stylesheet" href="https://www.epa.gov/sites/all/themes/epa/css/ie.css" media="all" /><![endif]-->
  <link rel="alternate" type="application/atom+xml" title="EPA.gov News" href="https://yosemite.epa.gov/opa/admpress.nsf/RSS/epa_recentnews?opendocument" />
  <link rel="alternate" type="application/atom+xml" title="EPA.gov Headquarters Press Releases" href="https://yosemite.epa.gov/opa/admpress.nsf/RSS/epa_headquarters?opendocument" />
  <link rel="alternate" type="application/atom+xml" title="Greenversations, EPA's Blog" href="https://blog.epa.gov/blog/feed/" />
  <!--[if lt IE 9]><script src="https://www.epa.gov/sites/all/themes/epa/js/html5.js"></script><![endif]-->
</head>
<!-- NOTE, figure out body classes! -->
<body class="node-type-(web-area|page|document|webform) (microsite|resource-directory)" >
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-L8ZB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-L8ZB');</script>
  <!-- End Google Tag Manager -->
  <div class="skip-links"><a href="#main-content" class="skip-link element-invisible element-focusable">Jump to main content</a></div>
  <header class="masthead clearfix" role="banner">
    <img class="site-logo" src="https://www.epa.gov/sites/all/themes/epa/logo.png" alt="" />
    <hgroup class="site-name-and-slogan">
      <h1 class="site-name"><a href="https://www.epa.gov/" title="Go to the home page" rel="home"><span>US EPA</span></a></h1>
      <div class="site-slogan">United States Environmental Protection Agency</div>
    </hgroup>
    <form class="epa-search" method="get" action="https://search.epa.gov/epasearch/epasearch">
      <label class="element-hidden" for="search-box">Search</label>
      <input class="form-text" placeholder="Search EPA.gov" name="querytext" id="search-box" value=""/>
      <button class="epa-search-button" id="search-button" type="submit" title="Search">Search</button>
      <input type="hidden" name="areaname" value="" />
      <input type="hidden" name="areacontacts" value="" />
      <input type="hidden" name="areasearchurl" value="" />
      <input type="hidden" name="typeofsearch" value="epa" />
      <input type="hidden" name="result_template" value="2col.ftl" />
    </form>
  </header>
  <section id="main-content" class="main-content clearfix" role="main">
    <div class="region-preface clearfix">
      <div id="block-pane-epa-web-area-connect" class="block block-pane contextual-links-region">
        <ul class="menu utility-menu">
          <li class="menu-item"><a href="{CONTACT URL}" class="menu-link contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="main-column clearfix">
<!--googleon: all-->
      <h1 class="page-title">{PAGE TITLE}</h1>
      <div class="panel-pane pane-node-content" >
        <div class="pane-content">
          <div class="node node-page clearfix view-mode-full">
            {PAGE CONTENT}
          </div>
        </div>
      </div>
      <div id="block-epa-og-footer" class="block block-epa-og">
        <p>{FOOTER CONTENT}</p>
      </div>
<!--googleoff: all-->
    </div>
  </section>
  <nav class="nav simple-nav simple-main-nav" role="navigation">
    <h2 class="element-invisible">Main menu</h2>
    <ul class="menu" role="menu">
      <li class="menu-item" id="menu-learn" role="presentation"><a href="https://www.epa.gov/learn-issues" title="Learn what you can do to protect the environment in your home, workplace, and community." class="menu-link" role="menuitem">Learn the Issues</a></li>
      <li class="menu-item" id="menu-scitech" role="presentation"><a href="https://www.epa.gov/science-and-technology" title="EPA&#039;s research mission is to conduct leading-edge research and foster the sound use of science and technology to fulfill EPA&#039;s mission to protect human health and safeguard the natural environment." class="menu-link" role="menuitem">Science &amp; Technology</a></li>
      <li class="menu-item" id="menu-lawsregs" role="presentation"><a href="https://www.epa.gov/laws-regulations" title="Laws written by Congress provide the authority for EPA to write regulations. Regulations explain the technical, operational, and legal details necessary to implement laws." class="menu-link" role="menuitem">Laws &amp; Regulations</a></li>
      <li class="menu-item" id="menu-about" role="presentation"><a href="https://www.epa.gov/aboutepa" title="Learn more about: our mission and what we do, how we are organized, and our history." class="menu-link" role="menuitem">About EPA</a></li>
    </ul>
  </nav>
  <nav class="nav simple-nav simple-secondary-nav" role="navigation">
    <h2 class="element-invisible">Secondary menu</h2>
    <ul class="menu secondary-menu">
      <li class="menu-1569 menu-item"><a href="https://espanol.epa.gov/" title="Spanish" class="menu-link">Espa&ntilde;ol</a></li>
      <li class="menu-1571 menu-item"><a href="https://www.epa.gov/languages/traditional-chinese" title="Traditional Chinese" class="menu-link">&#20013;&#25991;: &#32321;&#39636;&#29256;</a></li>
      <li class="menu-1573 menu-item"><a href="https://www.epa.gov/languages/simplified-chinese" title="Simplified Chinese" class="menu-link">&#20013;&#25991;: &#31616;&#20307;&#29256;</a></li>
      <li class="menu-1575 menu-item"><a href="https://www.epa.gov/languages/vietnamese" title="Vietnamese" class="menu-link">Ti&#7871;ng Vi&#7879;t</a></li>
      <li class="menu-1577 menu-item"><a href="https://www.epa.gov/languages/korean" title="Korean" class="menu-link">&#54620;&#44397;&#50612;</a></li>
    </ul>
  </nav>
  <footer class="main-footer clearfix" role="contentinfo">
    <div class="region-footer">
      <div id="block-epa-core-footer" class="block block-epa-core">
        <div class="row cols-2">
          <div class="col size-2of5">
            <ul class="pipeline">
              <li><a href="https://www.epa.gov/">EPA Home</a></li>
              <li><a href="https://www.epa.gov/home/privacy-and-security-notice">Privacy and Security Notice</a></li>
              <li><a href="https://www.epa.gov/accessibility"
                  >Accessibility</a></li>
            </ul>
            <p class="last-updated">{LAST UPDATED DATE}</p>
          </div>
          <div class="col size-3of5">
            <ul class="menu epa-menu">
              <li class="menu-item"><a class="menu-link epa-hotline" href="https://www.epa.gov/home/epa-hotlines">Hotlines</a></li>
              <li class="menu-item"><a class="menu-link epa-news" href="https://www.epa.gov/newsroom">News</a></li>
              <li class="menu-item"><a class="menu-link epa-blog" href="https://www.epa.gov/aboutepa/greenversations">Blogs</a></li>
              <li class="menu-item"><a class="menu-link epa-apps" href="https://developer.epa.gov/category/apps/">Apps</a></li>
              <li class="menu-item"><a class="menu-link epa-widgets" href="https://developer.epa.gov/category/widgets/">Widgets</a></li>
            </ul>
            <div class="social-menu-wrapper">
              <div class="social-menu-title">Social sites:</div>
              <ul class="menu social-menu">
                <li class="menu-item"><a class="menu-link social-twitter" href="https://twitter.com/epa">Twitter</a></li>
                <li class="menu-item"><a class="menu-link social-facebook" href="https://www.facebook.com/EPA">Facebook</a></li>
                <li class="menu-item"><a class="menu-link social-youtube" href="https://www.youtube.com/user/USEPAgov">YouTube</a></li>
                <li class="menu-item"><a class="menu-link social-flickr" href="https://www.flickr.com/photos/usepagov">Flickr</a></li>
                <li class="menu-item"><a class="menu-link social-instagram" href="https://instagram.com/epagov">Instagram</a></li>
              </ul>
              <p class="social-menu-more"><a href="https://www.epa.gov/home/social-media">More social media at&#160;EPA&#160;»</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://www.epa.gov/sites/all/libraries/template/jquery.js"></script>
  <script src="https://www.epa.gov/sites/all/libraries/template/js.js"></script>
  <script src="https://www.epa.gov/sites/all/modules/custom/epa_core/js/alert.js"></script>
  <!--[if lt IE 9]><script src="https://www.epa.gov/sites/all/themes/epa/js/ie.js"></script><![endif]-->
  <!-- REMOVE if not using -->
  {LOCAL JAVASCRIPT}
</body>
</html>
