{% set classes = [
  'form-item__label',
  title_display == 'after' ? 'is-after',
  title_display == 'invisible' ? 'visually-hidden',
  required ? 'is-required',
  required ? 'js-form-required',
] %}

{% if title is not empty -%}
  <label{{ attributes.addClass(classes) }}>
    {{ title }}
    {% if not required and title_display != 'after' -%}
      <span class="usa-hint">({{ 'optional'|t }})</span>
    {%- endif %}
  </label>
{%- endif %}
