// @file
// Styles for the EPA Section Layout.

@use '../../00-config' as *;

.layout--epa-section {
  .usa-section--light,
  .usa-section--dark {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .layout__region--main {
    > div {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}
