// @file
// Styles for checkbox form item.

@use '../../../00-config' as *;
@use 'usa-checkbox' as *;

.form-item--checkbox {
  margin: rem(gesso-spacing(1)) 0;

  .form-item__label {
    // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
    @extend .usa-checkbox__label;
  }
}
