{#
/**
 * @file
 * EPA theme implementation to display a linked responsive image field.
 *
 * Available variables:
 * - responsive_image: A collection of responsive image data.
 * - url: The URL to the original image file.
 *
 * @see template_preprocess_epa_media_responsive_image_link()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" target="_blank">{{ responsive_image }}</a>
