{#
/**
 * @file
 * EPA theme implementation to display a linked image field.
 *
 * Available variables:
 * - image: The image render array data.
 * - url: The URL to the original image file.
 *
 * @see template_preprocess_epa_media_image_link()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" target="_blank">{{ image }}</a>
