{% set classes = [
  'list--pipeline',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% include '@components/list/list.twig' with {
  'modifier_classes': classes,
  'list': list
} %}

{% if show_documentation %}
<div class="usa-section usa-section--light margin-y-3">
<div class="l-constrain">
<p>These are horizontal lists, separated by a pipe. This kind of list be used for simple menus. If this is used for anchor links on the same page, be sure to include "On this page:" above the link list. </p>
</div>
</div>
{% endif %}
