// @file
// Styles for Node Dialog content.

@use '../../../00-config/00-functions' as *;

.node-dialog--large {
  max-width: rem(435px);
  padding: gesso-spacing(2);

  .node-dialog__item {
    &:first-child {
      border-bottom: 1px solid gesso-claro(primary, gray-100);
    }

    &.green .node-dialog__link::before {
      background-color: gesso-claro(secondary, green-500);
    }

    &.yellow .node-dialog__link::before {
      background-color: gesso-claro(secondary, yellow-400);
    }

    &.checked .node-dialog__link::before {
      background-image: url('../images/checkbox-check-white.svg');
    }
  }

  .node-dialog__link {
    align-items: center;
    color: gesso-claro(primary, gray-800);
    display: flex;
    font-weight: 700;
    padding: gesso-spacing(2);

    &::before {
      background-position: top 3px center;
      background-repeat: no-repeat;
      background-size: 9px 7px;
      border-radius: 50%;
      content: '';
      display: block;
      height: gesso-spacing(105);
      margin-right: gesso-spacing(1);
      width: gesso-spacing(105);
    }
  }

  .node-dialog__content {
    color: gesso-claro(primary, gray-800);
    font-size: rem(14px);

    p {
      margin: 0;
    }
  }
}
