/**
 * @file
 * RTL overrides for the design style sheet.
 */

.taskbar li:first-child a {
  border-radius: 0 4px 4px 0;
}
.taskbar li:last-child a {
  border-radius: 4px 0 0 4px;
}

.inline li {
  padding-left: 0;
  padding-right: 1em;
}
.inline li:first-child {
  padding-right: 0;
}

button + button,
button + input[type="button"],
button + input[type="reset"],
button + input[type="submit"],
button + .button,
input[type="button"] + button,
input[type="button"] + input[type="button"],
input[type="button"] + input[type="reset"],
input[type="button"] + input[type="submit"],
input[type="button"] + .button,
input[type="reset"] + button,
input[type="reset"] + input[type="button"],
input[type="reset"] + input[type="reset"],
input[type="reset"] + input[type="submit"],
input[type="reset"] + .button,
input[type="submit"] + button,
input[type="submit"] + input[type="button"],
input[type="submit"] + input[type="reset"],
input[type="submit"] + input[type="submit"],
input[type="submit"] + .button,
.button + button,
.button + input[type="button"],
.button + input[type="reset"],
.button + input[type="submit"],
.button + .button
input[type="text"] + button,
input[type="text"] + input[type="button"],
input[type="text"] + input[type="reset"],
input[type="text"] + input[type="submit"],
input[type="text"] + .button,
select + button,
select + input[type="button"],
select + input[type="reset"],
select + input[type="submit"],
select + .button,
#edit-cancel {
  margin-left: 0;
  margin-right: 0.85rem;
}
