/**
 * @file
 * Standalone CSS for flexslider.
 */

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
  background: none !important;
  display: none;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-backface-visibility: hidden;
}

.no-js .slides > li:first-child {
  display: block;
}

/* clearfix */
.slides {
  *zoom: 1;
}
.slides:after {
  clear: both;
  content: "";
  display: table;
}

.flexslider .slides img {
  display: block;
  width: 100%;
}

/* Design Styles */
.pane-bundle-slideshow .pane-content > h2 {
  font-size: 2rem;
  margin-bottom: -1.5em;
  padding: 0 2em;
}

.flexslider {
  padding-top: 2em;
  position: relative;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.flexslider .slides {
  list-style: none;
  padding: 0;
}

.flex-direction-nav {
  list-style: none;
  padding: 0 !important;
}

.flex-direction-nav li {
  background: none !important;
}

.flex-prev {
  color: #fff !important;
  font-size: 0;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 0;
}
.flex-prev:focus {
  background: none;
}
.flex-prev:before {
  border-bottom: 1em solid transparent;
  border-right: 1em solid #0071bc;
  border-top: 1em solid transparent;
  content: '';
  display: inline-block;
  font-size: 1.2rem;
  height: 0;
  width: 0;
}
.flex-prev:focus:before,
.flex-prev:hover:before {
  border-right-color: #205493;
}

.flex-next {
  color: #fff !important;
  font-size: 0;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
}
.flex-next:focus {
  background: none;
}
.flex-next:before {
  border-bottom: 1em solid transparent;
  border-left: 1em solid #0071bc;
  border-top: 1em solid transparent;
  content: '';
  display: inline-block;
  font-size: 1.2rem;
  height: 0;
  width: 0;
}
.flex-next:focus:before,
.flex-next:hover:before {
  border-left-color: #205493;
}
