/**
 * @file
 * Styles for the mobile menu.
 */

.mobile-nav {
  z-index: 100;
}

.mobile-bar {
  margin-top: -10.4rem;
  position: absolute;
  right: 1em;
}

.menu-button {
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  color: #0071bc;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.7rem;
  padding: 0.5882em 1.1765em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  white-space: normal;
}

.menu-button:focus,
.menu-button:hover,
.menu-button:active {
  background-color: #0071bc;
  box-shadow: none;
  color: #fff;
  outline: 0;
}

.mobile-links {
  background: #fff;
  border: 0;
  margin-top: -3em;
  padding: 0.5em 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.mobile-links a {
  display: block;
  font-weight: bold;
  line-height: 2.75;
  margin: 0 0.5em 0.5em;
  padding: 0 1em;
  text-decoration: none;
}

.mobile-links a:visited {
  color: #0071bc;
}

.mobile-links a:focus,
.mobile-links a:hover,
.mobile-links a:active {
  background: #e1f3f8;
}

.mobile-links a:focus {
  outline: 0;
}

.mobile-links a:after {
  content: '>';
  float: right;
}

.mobile-nav .sub-menu {
  padding-left: 1em;
}

.js .simple-nav,
.main-nav,
.secondary-nav {
  display: none;
}

@media screen and (min-width: 50em) {
  #mobile-nav {
    display: none;
  }

  .js .simple-nav,
  .main-nav,
  .secondary-nav {
    display: block;
  }
}
