/**
 * @file
 * WYSIWYG style sheet for CKEditor.
 */
@import url(base.css);
@import url(typography.css);
@import url(drupal.css);
@import url(layout.css);
@import url(design.css);

html, body {
  background: #fff;
  color: #212121;
}
body{
  padding: 1em;
}
.mode-media_link {
	display: inline;
}

img {
  display: block;
  margin-bottom: 1em;
}
img.right {
  float: right;
  margin-left: 1em;
  max-width: 50%;
}
img.left {
  float: left;
  margin-right: 1em;
  max-width: 50%;
}
img.inline,
img.file-media-link {
  display: inline;
  margin: 0;
}
