{% set skip_link_id = 'skip-to-main'|unique_id %}

<div class="skiplinks" role="navigation" aria-labelledby="{{ skip_link_id }}">
  <a id="{{ skip_link_id }}" href="#main" class="skiplinks__link visually-hidden focusable">{{ 'Skip to main content'|t }}</a>
</div>
