// @file
// Styles for a Related Info Box.

.box--related-info {
  @extend %box--with-borders;

  > .box__title,
  > .box__footer {
    background-color: gesso-brand(green, dark);
    border-color: gesso-brand(green, dark);
    color: gesso-grayscale(white);
  }

  > .box__image,
  > .box__image-link > .box__image {
    border-color: gesso-brand(green, dark);
  }

  > .box__content {
    border-color: gesso-brand(green, dark);
  }
}
