{#
/**
 * @file
 * Theme override to display a media item.
 */
#}

{% if logged_in %}
  <div class="contextual-region">
    {{ title_suffix.contextual_links }}
{% endif %}

{% set file = {
  'extension': content.field_media_file|field_target_entity.filename.value|split('.')|last,
  'icon': 'file',
  'name': content.name|field_value,
  'mime': content.field_media_file|field_target_entity.filemime.value,
  'size': content.field_media_file|field_target_entity.getSize(),
} %}

{% include '@components/file/file.twig' with {
  'url': file_url(content.field_media_file|field_target_entity.uri.value),
  'file': file,
} %}

{% if logged_in %}</div>{% endif %}
{% set catch_cache = content|render %}
