{% set classes = [
  'l-constrain',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  {% block content %}
    <div style="background:#333;color:#fff;padding:1em;margin:0;">Content</div>
  {% endblock %}
</div>
