{% set classes = [
  'l-constrain',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  {% block content %}
    {% include '@layouts/_sample-content/sample-content.twig' with {
      'content': 'Content',
    } %}
  {% endblock %}
</div>
