// @file
// Ordered list styles.

ol {
  @extend %usa-list;

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding-left: 0;
      padding-right: 3ch;
    }
  }

  ol,
  ul {
    margin-top: 0.25em;
  }
}
