// @file
// Styles for a Highlight.

h2,
h3,
h4,
h5,
h6 {
  // stylelint-disable-next-line selector-no-qualifying-type
  &.highlight {
    background-color: gesso-brand(aqua, light-1);
    overflow: auto;
    padding: rem(units(1)) rem(units(2));
  }
}
