// @file
// Styles for the toggle admin button.

@use '../../00-config' as *;

.c-toggle-admin {
  background-color: #fff;
  border: 1px solid #55565b;
  color: #55565b;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25;
  padding-block: rem(6.25px);
  padding-inline: 0.75rem;
  text-decoration: none;

  &:not([disabled]):focus {
    outline-color: #fff;
  }

  &:not([disabled]):hover {
    background-color: #e5edff;
    color: #0036b1;
  }
}
