.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  overflow: visible !important;
  position: relative;
  top: -2px;
  transition: none;
  vertical-align: middle;
  width: 1em;
}

.icon * {
  /* Fixes delayed transitions in Chrome. */
  transition: none;
}

.icon.is-spaced-before {
  margin-left: 0.25em;
}

.icon.is-spaced-after {
  margin-right: 0.25em;
}

.icon--rss {
  color: #ee802f;
}

.rss-feed {
  display: inline-block;
  font-size: 1.266rem;
  margin-top: 1em;
}

// to do: remove when jquery ui is removed from core
.dropbutton--multiple .dropbutton__item {
  background-color: #ffffff;
}

.dropbutton--multiple .dropbutton__item > .button {
  padding: 1em 1.5em;
  width: 100%;
}

.dropbutton--multiple .dropbutton__items {
  list-style: none;
  margin-left: 0;
}