.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  overflow: visible !important;
  position: relative;
  top: -2px;
  transition: none;
  vertical-align: middle;
  width: 1em;
}

.icon * {
  /* Fixes delayed transitions in Chrome. */
  transition: none;
}

.icon.is-spaced-before {
  margin-left: 0.25em;
}

.icon.is-spaced-after {
  margin-right: 0.25em;
}

.icon--rss {
  color: #ee802f;
}

.rss-feed {
  display: inline-block;
  font-size: 1.266rem;
  margin-top: 1em;
}

.media-library-item--grid .views-field-field-banner-image-restricted {
  font-size: 0.9375rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  margin-left: 0.8125rem;
}

.media-library-item--grid .form-type--boolean.form-item--no-label {
  margin-left: 0.8125rem;
  margin-top: 0;
}

.media-library-item--table .views-field-field-banner-image-restricted {
  font-weight: bold;
}

.media-library-item--table .views-field-field-banner-image-restricted .media {
  font-weight: normal;
}

#definition_pane {
  white-space: normal;
}

#drupal-off-canvas .inline-block-list {
  margin-left: 0;
}

#drupal-off-canvas .inline-block-list li {
  list-style-type: none;
}

#drupal-off-canvas .inline-block-list li a {
  color: #ffffff;
}
