.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  overflow: visible !important;
  position: relative;
  top: -2px;
  transition: none;
  vertical-align: middle;
  width: 1em;
}

.icon * {
  /* Fixes delayed transitions in Chrome. */
  transition: none;
}

.icon.is-spaced-before {
  margin-left: 0.25em;
}

.icon.is-spaced-after {
  margin-right: 0.25em;
}

.icon--rss {
  color: #ee802f;
}

.rss-feed {
  display: inline-block;
  font-size: 1.266rem;
  margin-top: 1em;
}

/* to do: remove when jquery ui is removed from core */
.dropbutton--multiple .dropbutton__item {
  background-color: #ffffff;
}

.dropbutton--multiple .dropbutton__item > .button {
  padding: 1em 1.5em;
  width: 100%;
}

.dropbutton--multiple .dropbutton__items {
  list-style: none;
  margin-left: 0;
}

.media-library-item--grid .views-field-field-banner-image-restricted {
  font-size: 0.9375rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  margin-left: 0.8125rem;
}

.media-library-item--grid .form-type--boolean.form-item--no-label {
  margin-left: 0.8125rem;
  margin-top: 0;
}

.media-library-item--table .views-field-field-banner-image-restricted {
  font-weight: bold;
}

.media-library-item--table .views-field-field-banner-image-restricted .media {
  font-weight: normal;
}

#definition_pane {
  white-space: normal;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .inline-block-list,
#drupal-off-canvas-wrapper .inline-block-list {
  margin-left: 0;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .inline-block-list li,
#drupal-off-canvas-wrapper .inline-block-list li {
  list-style-type: none;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .inline-block-list li a,
#drupal-off-canvas-wrapper .inline-block-list li a {
  color: #ffffff;
}

.ck-editor__main div[contenteditable=true] .ck-anchor {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 58' height='20' width='20'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='037---Waypoint-Flag' fill='rgb(0,0,0)' fill-rule='nonzero' transform='translate(0 -1)'%3E%3Cpath id='Shape' d='m14.678 58.9507 1.0678-.2984c1.0270794-.287091 1.6269982-1.3523947 1.34-2.3795l-12.2083-43.6888c-.17227193-.6165569-.58242107-1.139423-1.14021438-1.4535673-.5577933-.3141444-1.21753647-.3938324-1.83408562-.2215327l-.1379.0385c-1.28397381.3587434-2.0340279 1.6904218-1.6753 2.9744l12.2086 43.6888c.2870014 1.0271063 1.3522895 1.6270863 2.3794 1.3401z'%3E%3C/path%3E%3Cpath id='Shape' d='m57.67 28.42c-3.8715209-1.930437-7.4530885-4.3944478-10.64-7.32-.2678864-.245221-.3726619-.6216366-.27-.97 1.579074-5.9738125 2.7517572-12.04771023 3.51-18.18.12-1.02-.43-1.32-1.01-.62-11.38 13.61-31.07-2.49-42.79 9.88.14070884.2634479.25140182.5418575.33.83l7.92 28.36c11.74-12.22 31.36 3.78 42.72-9.8.58-.7.69-1.98.23-2.18z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.views-bulk-actions #edit-workflow-508-compliant--description {
  color: #ffffff;
}

.views-bulk-actions #edit-workflow-508-compliant--description a {
  color: #6694ff;
}

.views-bulk-actions #edit-workflow-508-compliant--description a:hover,
.views-bulk-actions #edit-workflow-508-compliant--description a:focus {
  color: #99b8ff;
}

.views-bulk-actions .views-bulk-actions__item .button--primary:not(:disabled, .is-disabled) {
  background: #004eff;
}

.views-bulk-actions .views-bulk-actions__item .button--primary:not(:disabled, .is-disabled):hover,
.views-bulk-actions .views-bulk-actions__item .button--primary:not(:disabled, .is-disabled):focus {
  background: #003ecc;
}

.paragraph-select-dialog.ckeditor5-paragraph-embed-modal .ui-dialog-content {
  min-height: 80vh !important;
}
