{% set classes = [
  'video',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  <iframe src="https://www.youtube.com/embed/{{ youtube_embed }}?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;enablejsapi=1" allowfullscreen frameborder="0"></iframe>
</div>
