{% if content.main|render and content.sidebar|render %}
  <div class="l-sidebar">
    <div class="l-sidebar__main">
      {{ content.main }}
    </div>
    <div class="l-sidebar__sidebar">
      {{ content.sidebar }}
    </div>
  </div>
{% else %}
  {{ content.main }}
  {{ content.sidebar }}
{% endif %}
