<div class="row cols-3">
  <div class="col size-1of3">
    {{ content.first }}
  </div>
  <div class="col size-1of3">
    {{ content.second }}
  </div>
  <div class="col size-1of3">
    {{ content.third }}
  </div>
</div>