{#
/**
 * @file
 * Theme override for a field.
 */
#}

{% if items.0.content|render|striptags|trim %}
  <h2 id="additional-resources">{{ label }}</h2>

  {% for item in items -%}
    {{ item.content }}
  {%- endfor %}
{% endif %}
