{% set contact_link %}
  {% include '@components/header-link/header-link.twig' with {
    'url': '#',
    'text': 'Contact Us',
  } %}
{% endset %}

{% set search %}
  <form class="u-hide-for-print margin-y-3">
    <div class="form-item form-item--textfield is-inline">
      <label class="form-item__label u-visually-hidden" for="listing-search">
        Search
      </label>
      <input class="form-item__text" id="listing-search" type="text" size="30" maxlength="128">
    </div>
    <button class="button">Search</button>
  </form>
{% endset %}

{% set sidebar %}
  <h2 class="h3">Filter By:</h2>
  {% include '@uswds/accordion/accordion.twig' with {
    'modifier_classes': 'usa-accordion--bordered margin-bottom-4',
    'is_multi_selectable': true,
    'accordion_id': 'facets',
    'accordion': [
      {
        'title': 'Topic',
        'is_expanded': true,
        'content': '<ul class="facet-list"><li class="facet-list__item"><a class="facet is-active" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Fuel Program <span class="facet__count">804<span class="u-visually-hidden"> items</span></span></span></a><ul class="facet-list"><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Reformulated Gasoline and Anti-Dumping <span class="facet__count">432<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Diesel Sulfur Program <span class="facet__count">117<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Renewable Fuel Standard (RFS2) <span class="facet__count">111<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Renewable Fuel Standard (RFS1) <span class="facet__count">67<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Reporting <span class="facet__count">22<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Registration and Reporting under 40 CFR 79 <span class="facet__count">19<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Gasoline Sulfur Program <span class="facet__count">17<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Registration <span class="facet__count">9<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Other <span class="facet__count">6<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Fuels and Fuel Additives (FFARs) <span class="facet__count">2<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">E15 Comments <span class="facet__count">1<span class="u-visually-hidden"> items</span></span></span></a></li></ul></li></ul>',
      },
      {
        'title': 'Web Area',
        'is_expanded': false,
        'content': '<ul class="facet-list"><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Fuels Registration, Reporting, and Compliance Help<span class="facet__count">804<span class="u-visually-hidden"> items</span></span></span></a></li></ul>',
      },
    ]
  } %}
{% endset %}

{% set filters %}
  {% include '@components/filters/filters.twig' with {
    'show_filters': true,
    'list': [
      {
        'url': '#',
        'text': 'Fuel Program',
      },
    ]
  } %}
  <h2 class="h5 margin-bottom-5">Displaying 76-90 of 804 results</h2>
{% endset %}

{% set body %}
  {% include '@uswds/collection/collection.twig' with {
    'collection': collection,
  } %}
  {% include '@components/pager/pager.twig' with {
    'heading': 'Pagination',
    'current': '6',
  } %}
  {% include '@components/rss-feed/rss-feed.twig' with {
    'link_text': 'Subscribe to the RSS feed for this search',
  } %}
{% endset %}

{% set page_content %}
  {# include page template #}
  {% include '@templates/listing-pages/listing-page.twig' with {
    'header_info': header_info,
    'contact_link': contact_link,
    'title': page_title,
    'intro': intro,
    'search': search,
    'body': body,
    'sidebar': sidebar,
    'footer': footer,
  } %}
{% endset %}

{# pass page_content to default page wrapper #}
{% include '@pages/_page-default.twig' with {
  'content': page_content,
} %}
