{% set contact_link %}
  {% include '@components/header-link/header-link.twig' with {
    'url': '#',
    'text': 'Contact Us',
  } %}
{% endset %}

{% set search %}
  <form class="u-hide-for-print margin-y-3">
    <div class="form-item form-item--textfield is-inline">
      <label class="form-item__label u-visually-hidden" for="listing-search">
        Search
      </label>
      <input class="form-item__text" id="listing-search" type="text" size="30" maxlength="128">
    </div>
    <button class="button">Search</button>
  </form>
{% endset %}

{% set sidebar %}
  <h2 class="h3">Filter By:</h2>
  {% include '@uswds/accordion/accordion.twig' with {
    'modifier_classes': 'usa-accordion--bordered margin-bottom-4',
    'is_multi_selectable': true,
    'accordion_id': 'facets',
    'accordion': [
      {
        'title': 'Location of Proposed Action',
        'is_expanded': false,
        'content': '<ul class="facet-list"><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Alaska <span class="facet__count">1<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">California <span class="facet__count">2<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Colorado <span class="facet__count">3<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Connecticut <span class="facet__count">1<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">District of Columbia <span class="facet__count">1<span class="u-visually-hidden"> items</span></span></span></a></li></ul><button class="facet-limit"><svg class="icon icon--facet-limit" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#plus-circle"></use></svg>Show more</button>',
      },
      {
        'title': 'Program or Statute',
        'is_expanded': false,
        'content': '<ul class="facet-list"><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Clean Air Act (CAA) <span class="facet__count">4<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Clean Water Act (CWA) <span class="facet__count">26<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">National Pollutant Discharge Elimination System (NPDES) <span class="facet__count">24<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">National Priority List <span class="facet__count">4<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Resource Conservation & Recovery Act (RCRA) <span class="facet__count">4<span class="u-visually-hidden"> items</span></span></span></a></li></ul><button class="facet-limit"><svg class="icon icon--facet-limit" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#plus-circle"></use></svg>Show more</button>',
      },
      {
        'title': 'Proposed Action',
        'is_expanded': false,
        'content': '<ul class="facet-list"><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Enforcement <span class="facet__count">9<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">No Action <span class="facet__count">15<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Permit <span class="facet__count">32<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Public Meetings/Hearings <span class="facet__count">12<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">Rule <span class="facet__count">1<span class="u-visually-hidden"> items</span></span></span></a></li></ul>',
      },
      {
        'title': 'Comments Due Date',
        'is_expanded': false,
        'content': '<ul class="facet-list"><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">May 2020 <span class="facet__count">22<span class="u-visually-hidden"> items</span></span></span></a></li><li class="facet-list__item"><a class="facet" href="#"><svg class="icon facet__icon facet__icon--empty" aria-hidden="true"><use href="../../../images/sprite.artifact.svg#square"></use></svg><svg class="icon facet__icon facet__icon--selected" aria-label="Selected:"><use href="../../../images/sprite.artifact.svg#check-square"></use></svg><span class="facet__content">June 2020 <span class="facet__count">18<span class="u-visually-hidden"> items</span></span></span></a></li></ul>',
      },
    ]
  } %}
{% endset %}

{% set filters %}
  <h2 class="h5 margin-bottom-5">Displaying 1-15 of 64 results</h2>
{% endset %}

{% set body %}
  {% include '@uswds/collection/collection.twig' with {
    'collection': collection,
  } %}
  {% include '@components/pager/pager.twig' with {
    'heading': 'Pagination',
    'current': '6',
  } %}
  {% include '@components/rss-feed/rss-feed.twig' with {
    'link_text': 'Subscribe to the RSS feed for this search',
  } %}
{% endset %}

{% set page_content %}
  {# include page template #}
  {% include '@templates/listing-pages/listing-page.twig' with {
    'header_info': header_info,
    'contact_link': contact_link,
    'title': page_title,
    'intro': intro,
    'search': search,
    'body': body,
    'sidebar': sidebar,
    'footer': footer,
  } %}
{% endset %}

{# pass page_content to default page wrapper #}
{% include '@pages/_page-default.twig' with {
  'content': page_content,
} %}
