{% set classes = [
  'before-after-swipe',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% set media %}
<div class="before-after-swipe__main">
  <div class="before-after-swipe__img before-after-swipe__img--background">{{ before }}</div>
  <div class="before-after-swipe__img before-after-swipe__img--foreground">{{ after }}</div>
  <input type="range" min="1" max="100" value="50" class="before-after-swipe__slider" name="before-after-swipe__slider" id="before-after-swipe__slider" />
  <div class="before-after-swipe__slider-button"></div>
</div>
{% endset %}

{% include '@components/figure/figure.twig' with {
  'modifier_classes': classes,
  'caption': caption,
  'media': media,
}%}

