// @file
// Styles for an External Link.

.external-link {
  &::after {
    @include svg-background(external-link--blue-base);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 0.65em;
    margin: -1px rem(units(0.5)) 0;
    width: 0.65em;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      @include svg-background(external-link--blue-dark);
    }
  }
}

a:not(.menu__link, [href=''], [href*='.gov'], [href^='#'], [href^='?'], [href^='/'], [href^='.'], [href^='javascript:'], [href^='mailto:'], [href*='webcms-uploads-dev.s3.amazonaws.com'], [href*='webcms-uploads-stage.s3.amazonaws.com'], [href*='webcms-uploads-prod.s3.amazonaws.com']) {
  @extend .external-link;
}

// Hide external link icon for anchors without an href attribute.
a:not([href])::after {
  display: none !important;
}
