// @file
// Styles for an External Link.

.external-link {
  &::after {
    @include svg-background(external-link--blue-base);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: inline-block;
    height: 0.65em;
    margin: -1px rem(units(0.5)) 0;
    width: 0.65em;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      @include svg-background(external-link--blue-dark);
    }
  }
}

a#{$external-urls} {
  @extend .external-link;
}

// Hide external link icon for anchors without an href attribute.
a:not([href])::after {
  display: none !important;
}
