{% set classes = [
  'external-link',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<a href="{{ url }}" class="{{ classes }}">{{ text }}</a>

{% if is_demo %}
  <hr>
  <div><a>no href attribute</a></div>
  <div><a href="javascript:">JavaScript in href attribute</a></div>
  <div><a href="#anchor">#anchor</a></div>
  <div><a href="/something">/something</a></div>
  <div><a href="./something">./something</a></div>
  <div><a href="../something">../something</a></div>
  <div><a href="example.com">example.com</a></div>
  <div><a href="example.com/something">example.com/something</a></div>
  <div><a href="example.com/something#anchor">example.com/something#anchor</a></div>
  <div><a href="example.gov">example.gov</a></div>
  <div><a href="example.gov/something">example.gov/something</a></div>
  <div><a href="example.gov/something#anchor">example.gov/something#anchor</a></div>
  <div><a href="example.mil">example.mil</a></div>
  <div><a href="example.mil/something">example.mil/something</a></div>
  <div><a href="example.mil/something#anchor">example.mil/something#anchor</a></div>
  <div><a href="example.net">example.net</a></div>
  <div><a href="example.net/something">example.net/something</a></div>
  <div><a href="example.net/something#anchor">example.net/something#anchor</a></div>
  <div><a href="webcms-uploads-prod.s3.amazonaws.com">file hosted for EPA</a></div>
  <div><a href="somewhere-else.s3.amazonaws.com">file hosted for someone else</a></div>
  <div><a href="mailto:email@example.com">email link</a></div>
  <div><a href="tel:(123) 456-7890">telephone link</a></div>
{% endif %}

{% if show_documentation %}
  <div class="usa-section usa-section--light margin-y-3">
    <div class="l-constrain">
      <p><strong>Related links</strong>: <a href="https://www.epa.gov/web-policies-and-procedures/procedure-external-site-links">External Site Links Procedure</a>.</p>
    </div>
  </div>
{% endif %}
