{% set classes = [
  'external-link',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<a href="{{ url }}" class="{{ classes }}">{{ text }}</a>

{% if is_demo %}
  <hr>
  <div><a>no href attribute</a></div>
  <div><a href="javascript:">JavaScript in href attribute</a></div>
  <div><a href="#anchor">#anchor</a></div>
  <div><a href="/something">/something</a></div>
  <div><a href="./something">./something</a></div>
  <div><a href="../something">../something</a></div>
  <div><a href="something">something</a></div>
  <div><a href="//epa.gov">//epa.gov</a></div>
  <div><a href="https://www.epa.gov">https://www.epa.gov</a></div>
  <div><a href="https://epa.gov">https://epa.gov</a></div>
  <div><a href="http://subdomain.epa.gov">http://subdomain.epa.gov</a></div>
  <div><a href="https://subdomain.epa.gov">https://subdomain.epa.gov</a></div>
  <div><a href="http://www.epa.gov.tw">http://www.epa.gov.tw</a></div>
  <div><a href="http://epa.gov.tw">http://epa.gov.tw</a></div>
  <div><a href="https://www.epa.gov.tw">https://www.epa.gov.tw</a></div>
  <div><a href="https://epa.gov.tw">https://epa.gov.tw</a></div>
  <div><a href="https://www.epa.gov/something">https://www.epa.gov/something</a></div>
  <div><a href="http://example.com">example.com</a></div>
  <div><a href="http://example.com/something">example.com/something</a></div>
  <div><a href="http://example.com/something#anchor">example.com/something#anchor</a></div>
  <div><a href="http://example.com/something.epa.gov">example.com/something.epa.gov</a></div>
  <div><a href="http://example.com/something.gov">example.com/something.gov</a></div>
  <div><a href="http://example.com/something.gov.tw">example.com/something.gov.tw</a></div>
  <div><a href="http://example.com/something.gov/else">example.com/something.gov/else</a></div>
  <div><a href="http://example.com/something.gov.tw/else">example.com/something.gov.tw/else</a></div>
  <div><a href="http://example.gov">example.gov</a></div>
  <div><a href="http://example.gov/something">example.gov/something</a></div>
  <div><a href="http://example.gov/something#anchor">example.gov/something#anchor</a></div>
  <div><a href="http://example.gov.tw">example.gov.tw</a></div>
  <div><a href="http://example.gov.tw/something">example.gov.tw/something</a></div>
  <div><a href="http://example.gov.tw/something#anchor">example.gov.tw/something#anchor</a></div>
  <div><a href="http://example.mil">example.mil</a></div>
  <div><a href="http://example.mil/something">example.mil/something</a></div>
  <div><a href="http://example.mil/something#anchor">example.mil/something#anchor</a></div>
  <div><a href="http://example.mil.tw">example.mil.tw</a></div>
  <div><a href="http://example.mil.tw/something">example.mil.tw/something</a></div>
  <div><a href="http://example.mil.tw/something#anchor">example.mil.tw/something#anchor</a></div>
  <div><a href="http://example.net">example.net</a></div>
  <div><a href="http://example.net/something">example.net/something</a></div>
  <div><a href="http://example.net/something#anchor">example.net/something#anchor</a></div>
  <div><a href="http://webcms-uploads-prod.s3.amazonaws.com">file hosted for EPA</a></div>
  <div><a href="http://somewhere-else.s3.amazonaws.com">file hosted for someone else</a></div>
  <div><a href="mailto:email@example.com">email link</a></div>
  <div><a href="tel:(123) 456-7890">telephone link</a></div>
{% endif %}

{% if show_documentation %}
  <div class="usa-section usa-section--light margin-y-3">
    <div class="l-constrain">
      <p><strong>Related links</strong>: <a href="https://www.epa.gov/web-policies-and-procedures/procedure-external-site-links">External Site Links Procedure</a>.</p>
    </div>
  </div>
{% endif %}
