{% set classes = [
  'external-link',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<a href="{{ url }}" class="{{ classes }}">{{ text }}</a>

{% if is_demo %}
<p>
  <div><a href="#anchor">#anchor</a></div>
  <div><a href="/something">/something</a></div>
  <div><a href="./something">./something</a></div>
  <div><a href="../something">../something</a></div>
  <div><a href="example.com">example.com</a></div>
  <div><a href="example.com/something">example.com/something</a></div>
  <div><a href="example.com/something#anchor">example.com/something#anchor</a></div>
  <div><a href="example.gov">example.gov</a></div>
  <div><a href="example.gov/something">example.gov/something</a></div>
  <div><a href="example.gov/something#anchor">example.gov/something#anchor</a></div>
  <div><a href="example.net">example.net</a></div>
  <div><a href="example.net/something">example.net/something</a></div>
  <div><a href="example.net/something#anchor">example.net/something#anchor</a></div>
</p>
{% endif %}
