<div class="usa-nav__secondary">
  {% block content %}
    <ul class="usa-nav__secondary-links">
      <li class="usa-nav__secondary-item">
        <a href="#">Secondary link</a>
      </li>
      <li class="usa-nav__secondary-item">
        <a href="#">Another secondary link</a>
      </li>
    </ul>
  {% endblock %}
</div>
