<section class="usa-graphic-list">
  {% for block in media_blocks %}
    {% if loop.index0 % 2 == 0 %}
      <div class="usa-graphic-list__row grid-row grid-gap">
    {% endif %}
      {% include '@uswds/graphic-list/graphic-list--item/graphic-list--item.twig' with {
        'field_title': block.field_title,
        'field_body': block.field_body,
        'field_link': block.field_link,
        'field_media_block_image': block.field_media_block_image,
      } %}
    {% if loop.index0 % 2 == 1 or loop.last %}
      </div>
    {% endif %}
  {% endfor %}  
</section>