{% set classes = [
  'l-page',
  modifier_classes ? modifier_classes,
  has_footer ? 'has-footer',
]|join(' ')|trim %}


{% set constrain_classes = [
  'l-constrain',
  is_narrow ? 'l-constrain--small'
]|join(' ')|trim %}

<div class="{{ classes }}">
  <div class="{{ constrain_classes }}">

    {% if has_header %}
      <div class="l-page__header">
        <div class="l-page__header-first">
          {% block info %}
            {% include '@layouts/_sample-content/sample-content.twig' with {
              'content': 'Section Information',
            } %}
          {% endblock %}
        </div>
      </div>
    {% endif %}

    {% if has_in_page_nav %}
      <div class="usa-in-page-nav-container">
        <aside
          class="usa-in-page-nav"
          data-main-content-selector=".article"
          data-title-heading-level="h2"
        >
          {% block in_page_nav %}
            {% include '@layouts/_sample-content/sample-content.twig' with {
              'content': 'In-page Navigation',
            } %}
          {% endblock %}
        </aside>
        <div class="usa-in-page-nav-main">
    {% endif %}

    {% block content %}
      {% include '@layouts/_sample-content/sample-content.twig' with {
        'content': 'Page Content',
      } %}
    {% endblock %}

    {% if has_in_page_nav %}
        </div>
      </div>
    {% endif %}

  </div>

  {% if has_footer %}
    <div class="l-page__footer">
      <div class="{{ constrain_classes }}">
        {% block footer %}
          {% include '@layouts/_sample-content/sample-content.twig' with {
            'content': 'Page Footer',
          } %}
        {% endblock %}
      </div>
    </div>
  {% endif %}
</div>
