<div class="l-page">
  <div class="l-constrain">
    <h1>EPA Style Guide</h1>
    <p>This is a style guide and pattern library, showing many allowed elements for EPA.gov. You should also:</p>
    <ul>
      <li><a href="/web-policies-and-procedures/epa-web-standards">Follow EPA Web Standards</a></li>
      <li><a href="http://intranet.epa.gov/drupaltraining/">Take Drupal Web CMS Training</a> <a href="/home/intranet-disclaimer" class="tag-link" rel="tag"><span class="usa-tag ">Intranet</span></a></li>
    </ul>
  </div>
</div>
