<div class="l-page">
  <div class="l-constrain">
    <h1>EPA Style Guide</h1>
    <p>This is a style guide and pattern library, showing many allowed elements for EPA.gov. You should also:</p>
    <ul>
      <li><a href="/web-policies-and-procedures/epa-web-standards">Follow EPA Web Standards</a></li>
      <li><a href="/webcmstraining">Take Drupal WebCMS Training</a></li>
    </ul>
  </div>
</div>
