.contextual-links-wrapper {
  left: 5px;
}
.contextual-links-wrapper .contextual-links {
  border-radius: 0 4px 4px 4px;
  left: 0;
  text-align: right;
}
.contextual-links li a {
  padding: .25em .5em .25em 1em;
}
