// @file
// Styles for the Sidebar Layout.

$l-sidebar-bp: 900px;

.l-sidebar {
  @include breakpoint($l-sidebar-bp) {
    display: flex;
  }
}

.l-sidebar__main {
  flex-grow: 1;
}

.l-sidebar__sidebar {
  flex-shrink: 0;

  @include breakpoint($l-sidebar-bp) {
    margin-left: rem(gesso-get-map(gutter-width));
    width: 25%;
  }
}
