// @file
// Component: Figure

@use '../../00-config' as *;
@use '../external-link/external-link--image/external-link--image' as *;

.figure {
  display: table;
  margin-bottom: rem(units(4));
  max-width: 100%;
  position: relative;
  table-layout: fixed;
  width: auto;

  @include breakpoint(gesso-breakpoint(tablet)) {
    &.u-align-left,
    &.u-align-right {
      margin-bottom: rem(units(3));
      margin-top: 0;
      max-width: calc(50% - #{rem(gesso-get-map(gutter-width))});

      @if $wysiwyg {
        float: none;
        margin-inline: 0;
        max-width: 100%;
      }
    }
  }

  * + & {
    margin-top: rem(units(4));
  }

  &.is-centered {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(units(3));
  }

  &.is-private {
    .figure__media {
      position: relative;

      &::before {
        background-color: rgba(color($theme-color-warning), 0.5);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }

      .figure__private-icon {
        background-color: color($theme-color-warning);
        height: rem(25px);
        left: 0;
        padding: rem(5px);
        position: absolute;
        top: 0;
        width: rem(25px);
        z-index: 1;
      }
    }
  }

  // Tweak styling in WYSIWYG editor.
  @if $wysiwyg {
    // stylelint-disable
    .cke_widget_wrapper:hover & {
      outline: 2px solid #ffd25c;
    }

    .cke_widget_wrapper.cke_widget_focused &,
    .cke_widget_wrapper.cke_widget_editable_focused & {
      outline: 2px solid #47a4f5;
    }
    // stylelint-enable

    .media-library-item__edit {
      margin-bottom: rem(units(1));
    }
  }
}

.figure__media {
  // Assume all links here surround an image.
  a#{$external-urls} {
    // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
    @extend .external-link--image;
  }

  a::after {
    @extend %external-link--image-after;
  }
}

.figure__caption {
  caption-side: bottom;
  display: table-caption;
  font-size: font-size(body, 3xs);
  margin-top: rem(units(1));

  @if $wysiwyg {
    // Show editable caption area in CKEditor when using Firefox.
    &[contenteditable='true'] {
      min-height: 1.3rem;
      position: relative;
      z-index: 1;
    }
  }
}

// Tweak styling in WYSIWYG editor.
@if $wysiwyg {
  // stylelint-disable-next-line
  figure.ck-widget {
    &.drupal-media-style-align-left {
      margin-right: rem(gesso-get-map(gutter-width));
    }

    &.drupal-media-style-align-right {
      margin-left: rem(gesso-get-map(gutter-width));
    }
  }

  // stylelint-disable-next-line
  figcaption.ck-editor__editable {
    background-color: transparent;
    display: block !important;
    text-align: left;
  }
}
