// @file
// Component: Figure

.figure {
  display: table;
  margin-bottom: rem(units(3));
  max-width: 100%;
  position: relative;

  @include breakpoint(gesso-breakpoint(tablet)) {
    &.u-align-left,
    &.u-align-right {
      max-width: calc(50% - #{rem(gesso-get-map(gutter-width))});
    }
  }

  &.is-centered {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(units(3));
  }

  // Tweak styling in WYSIWYG editor.
  @if $wysiwyg {
    .media-library-item__edit {
      margin-bottom: rem(units(1));
    }
  }
}

.figure__caption {
  caption-side: bottom;
  display: table-caption;
  font-size: font-size(body, 3xs);
  margin-top: rem(units(1));

  // Show editable caption area in CKEditor when using Firefox.
  &[contenteditable='true'] {
    min-height: 1.3rem;
  }
}
