// @file
// Component: Figure

.figure {
  margin-bottom: rem(units(3));

  @include breakpoint(gesso-breakpoint(tablet)) {
    &.u-align-left,
    &.u-align-right {
      max-width: 43%;
    }
  }

  &.is-centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.figure__caption {
  font-size: font-size(body, 3xs);
  margin-top: rem(units(1));
}
