.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  overflow: visible !important;
  position: relative;
  top: -2px;
  transition: none;
  vertical-align: middle;
  width: 1em;
}

/* Fixes delayed transitions in Chrome. */
.icon * {
  transition: none;
}

.icon.is-spaced-before {
  margin-left: 0.25em;
}

.icon.is-spaced-after {
  margin-right: 0.25em;
}

.icon--rss {
  color: #ee802f;
}

.rss-feed {
  display: inline-block;
  font-size: 1.154em;
  margin-top: 1em;
}

.views-exposed-form .form--inline .form-item {
  min-height: 6em;
}

.views-exposed-form .form--inline .form-item .field-suffix {
  display: block;
}

.media-library-item--grid .media-library-item__attributes {
  bottom: auto;
  left: 35px;
  max-width: calc(100% - 53px);
}

.media-library-item--grid .views-field-field-banner-image-restricted {
  bottom: 50px;
  font-size: 0.9375rem;
  font-weight: bold;
  left: 10px;
  position: absolute;
  right: 10px;
  text-align: center;
}

.media-library-item--table .views-field-field-banner-image-restricted {
  font-weight: bold;
}

.media-library-item--table .views-field-field-banner-image-restricted .media {
  font-weight: normal;
}
