.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  overflow: visible !important;
  position: relative;
  top: -2px;
  transition: none;
  vertical-align: middle;
  width: 1em;
}

/* Fixes delayed transitions in Chrome. */
.icon * {
  transition: none;
}

.icon.is-spaced-before {
  margin-left: 0.25em;
}

.icon.is-spaced-after {
  margin-right: 0.25em;
}

.icon--rss {
  color: #ee802f;
}

.rss-feed {
  display: inline-block;
  font-size: 1.154em;
  margin-top: 1em;
}

.views-exposed-form .form--inline .form-item {
  min-height: 6em;
}

.views-exposed-form .form--inline .form-item .field-suffix {
  display: block;
}
