// @file
// Styles for the sidenav menu.

@use '../../../00-config' as *;
@use 'usa-sidenav' as *;

.menu--sidenav {
  @extend .usa-sidenav;

  .menu__item {
    @extend .usa-sidenav__item;
  }

  .menu__link {
    background-color: transparent;
    background-image: none;
    color: gesso-color(text, link) !important;

    &:hover,
    &:focus {
      color: gesso-color(text, link-hover) !important;
    }

    &:active {
      color: gesso-color(text, link-active) !important;
    }

    &:visited {
      color: gesso-color(text, link-visited) !important;
    }

    &.is-active,
    &.is-active-trail {
      @extend .usa-current;
      background-color: color('base-lightest');
    }

    &.has-subnav {
      display: flex;
      gap: rem(gesso-spacing('05'));
      justify-content: space-between;
      padding: gesso-spacing(2) gesso-spacing(3);

      &[aria-expanded='true'] > .menu__link-icon {
        transform: rotate(0deg);
      }
    }
  }

  .menu__link-icon {
    font-size: 1em;
    top: -1px;
    transform: rotate(-180deg);
    transition: transform gesso-duration(standard) gesso-easing(ease-out);

    @include at-media($theme-header-min-width) {
      font-size: 1.1em;
    }
  }

  .menu__subnav {
    @extend .usa-sidenav__sublist;
  }
}
