// @file
// Styles for the sidenav menu.

@use '../../../00-config' as *;
@use 'usa-sidenav' as *;

.menu--sidenav {
  @extend .usa-sidenav;

  @include at-media-max($theme-header-min-width) {
    @include u-pin("right");
    @include u-pin("y");
    background: color("white");
    border-right: 0;
    display: none;
    flex-direction: column;
    margin-bottom: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    width: 18rem;
    z-index: z-index(500);

    &.is-visible {
      animation: slidein-left 0.3s ease-in-out;
      display: flex;
    }
  }

  .menu__item {
    @extend .usa-sidenav__item;
  }

  .menu__link {
    background-color: transparent;
    background-image: none;
    color: gesso-color(text, link) !important;

    &:hover,
    &:focus {
      color: gesso-color(text, link-hover) !important;
    }

    &:active {
      color: gesso-color(text, link-active) !important;
    }

    &:visited {
      color: gesso-color(text, link-visited) !important;
    }

    &.is-active,
    &.is-active-trail {
      @extend .usa-current;
      background-color: color('base-lightest');
    }

    &.has-subnav {
      display: flex;
      gap: rem(gesso-spacing('05'));
      justify-content: space-between;
      padding: gesso-spacing(2) gesso-spacing(3);

      &[aria-expanded='true'] > .menu__link-icon {
        transform: rotate(0deg);
      }
    }
  }

  .menu__link-icon {
    color: gesso-grayscale(black);
    font-size: 0.8em;
    top: -1px;
    transform: rotate(-180deg);
    transition: transform gesso-duration(standard) gesso-easing(ease-out);
  }

  .menu__subnav {
    @extend .usa-sidenav__sublist;
    align-items: center;

    .menu__subnav {
      font-size: rem(14px);
    }
  }
}
