// @file
// Styles for the sidenav menu.

@use '../../../00-config' as *;
@use 'usa-sidenav' as *;

.menu--sidenav {
  @extend .usa-sidenav;

  .menu__item {
    @extend .usa-sidenav__item;

    &.has-subnav {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .menu__link {
    background-color: transparent;
    background-image: none;
    color: gesso-color(text, link) !important;
    font-weight: normal;

    &:hover,
    &:focus {
      color: gesso-color(text, link-hover) !important;
    }

    &:active {
      color: gesso-color(text, link-active) !important;
    }

    &:visited {
      color: gesso-color(text, link-visited) !important;
    }

    &.is-active,
    &.is-active-trail {
      @extend .usa-current;
      background-color: color('base-lightest');
      font-weight: bold;
    }

    &.has-subnav {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-left: gesso-spacing(2);
      padding-right: gesso-spacing(2);
      width: calc(100% - 62px);

      &[aria-expanded='true'] > .menu__link-icon {
        transform: rotate(0deg);
      }
    }

    &.usa-accordion__button {
      padding: gesso-spacing(1) gesso-spacing(3);
      width: rem(62px);

      &.is-active::after,
      &.is-active-trail::after {
        content: none;
      }
    }
  }

  .menu__link-icon {
    color: gesso-grayscale(black);
    font-size: 0.8em;
    top: -1px;
    transform: rotate(-180deg);
    transition: transform gesso-duration(standard) gesso-easing(ease-out);
  }

  .menu__subnav {
    @extend .usa-sidenav__sublist;
    align-items: center;
    width: 100%;

    .menu__subnav {
      font-size: rem(14px);
    }
  }
}

.menu--sidenav-nav {
  @include at-media-max($theme-header-min-width) {
    @include u-pin('right');
    @include u-pin('y');
    background: color('white');
    border-right: 0;
    display: none;
    flex-direction: column;
    margin-bottom: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    width: 18rem;
    z-index: z-index(500);

    &.is-visible {
      animation: slidein-left 0.3s ease-in-out;
      display: flex;
      margin-bottom: 0;
    }
  }
}

.menu-sidenav__overlay {
  @include u-pin("all");
  position: fixed;
  background: color("black-transparent-70");
  opacity: opacity(0);
  transition: opacity $project-easing;
  visibility: hidden;
  z-index: z-index(400);

  &.is-visible {
    opacity: opacity(100);
    visibility: visible;
  }
}

.menu-sidenav__close {
  display: none;

  @include at-media-max($theme-header-min-width) {
    background: transparent;
    border: none;
    display: block;
    font-size: rem(gesso-spacing(4));
    height: 3rem;
    margin-left: auto;
    width: 3rem;
  }
}