// @file
// Definition list styles.

dd {
  margin: 0 0 1em 3ch;

  @if $support-for-rtl {
    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 3ch;
    }
  }
}

dl {
  margin: 0;

  // Add top margin when preceded by another element.
  * + & {
    margin-top: 1em;
  }

  // Add top margin to item directly after this.
  + * {
    margin-top: 1em;
  }
}

// dt {}
