// @file
// Definition list styles.

dd {
  @include vertical-spacing(rem(gesso-spacing(2)));
  margin: 0 0 0 3ch;

  @if $support-for-rtl {
    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 3ch;
    }
  }

  dt + & {
    margin-top: 0;
  }
}

dl {
  @include vertical-spacing(rem(gesso-spacing(2)));
  margin: 0;
}

// dt {}
