<dl>
  <dt>Definition List</dt>
  <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
  <dt>This is a term.</dt>
  <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
  <dt>Here is another term.</dt>
  <dd>And it gets a definition too, which is this line.</dd>
  <dt>Here is a term that shares a definition with the term below.</dt>
  <dt>Here is a term that shares a definition with the term above.</dt>
  <dd>And they both get the same definition too, which is this line.</dd>
</dl>

{% if show_documentation %}
<div class="usa-section usa-section--light margin-y-3">
<div class="l-constrain">
<p>The <code>&lt;dl&gt;</code> element is for another type of list called a definition list. Instead of list items, the content of a <code>&lt;dl&gt;</code> element consists of <code>&lt;dt&gt;</code> (Definition Term) and <code>&lt;dd&gt;</code> (Definition description) pairs. Definition lists are commonly used for questions (<code>&lt;dt&gt;</code>) and answers (<code>&lt;dd&gt;</code>), or for defining terms. They are also good for organizing content into parent child relationships (e.g., annotated A-Z lists)</p>
</div>
</div>
{% endif %}
