.usa-summary-box {
  overflow: auto;

  .l-sidebar__sidebar &,
  .l-grid &,
  .l-resource-directory & {
    &.u-align-left,
    &.u-align-right {
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}

.usa-summary-box__body {
  overflow: hidden;
}

.usa-summary-box__body,
.usa-summary-box__text {
  > :last-child {
    margin-bottom: 0;
  }
}

.usa-summary-box__heading {
  clear: none;
}
