.usa-summary-box {
  overflow: auto;
}

.usa-summary-box__body {
  overflow: hidden;
}

.usa-summary-box__body,
.usa-summary-box__text {
  > :last-child {
    margin-bottom: 0;
  }
}

.usa-summary-box__heading {
  clear: none;
}
