// @file
// Table styles.

@use 'uswds' as *;
@use '../../../uswds-theme-settings.artifact' as *;
@use '../../../00-config' as *;

table {
  @extend .usa-table;
}

thead {
  @media print {
    display: table-header-group;
  }
}

tbody {
  th {
    background-color: color('base-lightest');
    font-weight: $theme-font-weight-bold;
  }
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}
