// @file
// Styles for the Node Follow link.

@use '../../00-config' as *;

.node-follow.has-children {
  position: relative;
  width: fit-content;

  .node-dialog {
    display: none;
    position: absolute;
    top: 100%;
    width: 11.25rem;
    z-index: 1;
  }

  &.is-selected,
  &:hover,
  &:focus,
  &:focus-within {
    .node-follow__link {
      background-color: gesso-claro(primary, gray-050);
      color: gesso-claro(primary, blue-700);
    }
    
    .node-dialog {
      display: block;
    }
  }
}

.node-follow__link {
  align-items: center;
  color: gesso-claro(primary, gray-800);
  cursor: pointer;
  display: flex;
  font-size: rem(14px);
  padding: 2px 8px;
  width: fit-content;

  svg {
    margin-right: 3px;
  }
}
