{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{% extends "page.html.twig" %}

{% block main_content %}
    <div class="l-page">
      <div class="l-constrain">
        <h1 class="page-title">{{ page['#title'] }}</h1>
        {{ page.messages }}
        {{ page.content }}
      </div>
    </div>
{% endblock %}
