{% set classes = [
  'hublinks',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  <strong class="hublinks__title">Related Topics:</strong>
  <ul class="hublinks__list">
    {% for link in links -%}
      <li class="hublinks__list-item"><a  class="hublinks__link" href="{{ link.url }}">{{ link.text }}</a></li>
    {%- endfor %}
  </ul>
</div>
