{% set tid = paragraph.field_author.target_id %}
{% set author_image = drupal_field('field_image', 'taxonomy_term', tid) %}

{% if content.field_show_image[0]['#markup'] == "Yes" %}
  {% if author_image is not empty %}
    {% include '@components/figure/figure.twig' with {
      'modifier_classes': 'u-align-right u-clear-right box box--speeches',
      'caption': false,
      'media': author_image,
    } %}
  {% endif %}
{% endif %}

<h2>{{ content.field_author }}</h2>
