<p>
  <strong>{{ content.field_author }}</strong>
  {% if content.field_position|render %}<br>{{ content.field_position|field_value }}{% endif %}
  {% if content.field_office|render %}<br>{{ content.field_office|field_value }}{% endif %}
</p>
