{% set paragraph_media_blocks = [] %}
{% for i in content.field_media_block['#items']|keys %}
  {% set paragraph_id = content.field_media_block[i]['#paragraph'].id.value %}
  {% set paragraph_media_blocks = paragraph_media_blocks|merge([
    {
      'field_title': drupal_field('field_title', 'paragraph', paragraph_id)|without('#theme'),
      'field_body': drupal_field('field_body', 'paragraph', paragraph_id)|without('#theme'),
      'field_link': content.field_media_block[i]['#paragraph'].field_link.0.uri,
      'field_media_block_image': {
		    'src': drupal_field('field_media_block_image', 'paragraph', content.field_media_block[i]['#paragraph'].id.value)|without('#theme')[0]['#media'].field_media_image.entity.fileuri,
		    'alt': drupal_field('field_media_block_image', 'paragraph', content.field_media_block[i]['#paragraph'].id.value)|without('#theme')[0]['#media'].field_media_image.alt,
		  },
    }
  ]) %}
{% endfor %}

<section class="usa-graphic-list">
  {% for block in paragraph_media_blocks %}
    {% if loop.index0 % 2 == 0 %}
      <div class="usa-graphic-list__row grid-row grid-gap">
    {% endif %}
      {% include '@uswds/graphic-list/graphic-list--item/graphic-list--item.twig' with {
        'field_title': block.field_title,
        'field_body': block.field_body,
        'field_link': block.field_link,
        'field_media_block_image': {
			    'src': block.field_media_block_image.src | image_style('small_graphic_list_image'),
			    'alt': block.field_media_block_image.alt,
			  },
      } %}
    {% if loop.index0 % 2 == 1 or loop.last %}
      </div>
    {% endif %}
  {% endfor %}  
</section>
