<div class="usa-navbar">
  {% block content %}
    {% include "@uswds/logo/logo.twig" with {
      'site_name': 'Project Title'|t,
      'url': '/'
    } %}
  {% endblock %}
  <button class="usa-menu-btn">{{ 'Menu'|t }}</button>
</div>
