{% set audio_caption %}
  {% if transcript %}
    <div><strong>Transcript:</strong> {{ transcript }} </div>
  {% endif %}
  {% if running_time %}
    <div><strong>Running Time:</strong> {{ running_time }} </div>
  {% endif %}
  {% if author %}
    <div><strong>Author:</strong> {{ author }}</div>
  {% endif %}
{% endset %}

{% include '@components/figure/figure.twig' with {
  'modifier_classes': modifier_classes,
  'media': media,
  'caption': audio_caption,
} %}
