@use '../../00-config' as *;
@use 'usa-card' as *;

.usa-card-group {
  .usa-card--flag:nth-child(even):not(.usa-card--media-left) {
    @extend .usa-card--media-right;
  }

  @include breakpoint-min(gesso-breakpoint(tablet)) {
    .usa-card--flag.usa-card--media-left {
      .usa-card__media {
        left: 0;
        right: auto;
      }

      .usa-card__header,
      .usa-card__body,
      .usa-card__footer {
        margin-left: rem(240px);
        margin-right: 0;
      }
    }
  }
}
