<a href="{{ url }}" class="file">
  {%- include '@components/icon/icon.twig' with {
    'modifier_classes': 'icon--file is-spaced-after',
    'is_hidden': true,
    'icon_name': icon,
  } -%}
  {{ link_text }}
</a>
