{% set type = '' %}
{% if file.mime == 'application/pdf' %}
  {% set type = ' (PDF)' %}
{% elseif file.mime == 'application/msword' or file.mime == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
  {% set type = ' (DOC)' %}
{% elseif file.mime == 'application/vnd.ms-powerpoint' or file.mime == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' %}
  {% set type = ' (PPT)' %}
{% elseif file.mime == 'application/rtf' %}
  {% set type = ' (RTF)' %}
{% endif %}

<a href="#" class="file">{{ file.name }}{{ type }}</a>
