// @file
// Styles for a Highlight Box.

.box--highlight {
  @extend %box--with-borders;

  > .box__title,
  > .box__footer {
    background-color: color($theme-color-warning);
    border-color: color($theme-color-warning);
    color: gesso-grayscale(gray-7);
  }

  > .box__image {
    border-color: color($theme-color-warning);
  }

  > .box__content {
    border-color: color($theme-color-warning);
  }

  > .box__footer > .box__footer-link {
    color: gesso-grayscale(gray-7);

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: gesso-grayscale(gray-7);
    }
  }
}
