// @file
// Utility classes

// Clearfix
.clearfix,
.u-clearfix {
  @include clearfix;
}

// Accessibility utility classes
.visually-hidden,
.u-visually-hidden,
.usa-sr-only {
  @include visually-hidden-important;

  &.focusable
  &.u-focusable, {
    &:focus,
    &:active {
      @include visually-hidden-off-important;
    }
  }
}

.hidden,
.u-hidden {
  @include hidden-important;
}

.invisible,
.u-invisible {
  @include invisible-important;
}

// Clear floats
.u-clear-right {
  clear: right;
}

.u-clear-left {
  clear: left;
}
