// @file
// Styles for Detail Header Layout.

.l-detail-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: rem(gesso-spacing(2));

  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-wrap: nowrap;
  }
}

.l-detail-header__first {
  margin-bottom: rem(gesso-spacing(2));
  margin-right: rem(gesso-get-map(gutter-width));
}

.l-detail-header__last {
  flex-shrink: 0;
  margin-bottom: rem(gesso-spacing(2));
}
