<div class="l-detail-header">
  <div class="l-detail-header__first">
    {% block info %}
      {% include '@layouts/_sample-content/sample-content.twig' with {
        'content': 'Section Information',
      } %}
    {% endblock %}
  </div>

  <div class="l-detail-header__last">
    {% block contact %}
      {% include '@layouts/_sample-content/sample-content.twig' with {
        'content': 'Contact Link',
      } %}
    {% endblock %}
  </div>
</div>
