@use 'uswds' as *;
@use '../../uswds-theme-settings.artifact' as *;
@use '../../00-config' as *;

.usa-site-alert {
  .usa-alert {
    margin-bottom: 0;
    overflow: visible;
  }

  .usa-alert__text {
    > :last-child {
      margin-bottom: 0;
    }
  }

  .usa-alert__body {
    display: flex;
    justify-content: space-between;
  }
}

.usa-site-alert--emergency {
  .usa-alert__text a {
    color: color('gray-10');
  }
}
