@use '../../00-config' as *;

.usa-site-alert {
  z-index: 1;

  .usa-alert {
    margin-bottom: 0;
    overflow: visible;

    .usa-alert__body {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      max-width: 100%;
      padding-right: rem(gesso-spacing(3));
    }
  }

  .usa-alert__text {
    > :last-child {
      margin-bottom: 0;
    }
  }

  .usa-alert__content {
    flex-grow: 1;
  }
}

.usa-site-alert--emergency {
  .usa-alert__text a {
    color: color('gray-10');
  }
}

// display alerts on the alerts page even when closed out elsewhere.
// stylelint-disable-next-line selector-class-pattern
.view--public-alerts.view--display-page_1 {
  .usa-site-alert {
    margin-bottom: 0.5em;

    &.u-hidden {
      display: block !important;
    }

    // hide close button since it doesn't do anything here
    .usa-alert__close {
      display: none;
    }
  }
}
