{% set classes = [
  'l-grid',
  num_of_cols == 2 ? 'l-grid--2-col',
  num_of_cols == 3 ? 'l-grid--3-col',
  num_of_cols == 4 ? 'l-grid--4-col',
  num_of_cols == 6 ? 'l-grid--6-col',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  {% block content %}
    {% include '@layouts/_sample-content/sample-content.twig' with {
      'content': 'Grid Item',
    } %}
  {% endblock %}
</div>
