@use '../../00-config' as *;
@use '../../02-base/03-extendables' as *;

.usa-dark-background {
  color: gesso-grayscale(white);

  table {
    caption {
      color: gesso-grayscale(white);
    }

    // stylelint-disable selector-max-compound-selectors, max-nesting-depth
    &:not(.usa-table--unstyled) {
      thead a,
      tbody a {
        color: gesso-color(text, link);
        -webkit-text-decoration-skip: objects;

        &:visited {
          color: gesso-color(text, link-visited);
        }

        &:hover,
        &:focus {
          color: gesso-color(text, link-hover);
        }

        &:active {
          color: gesso-color(text, link-active);
        }
      }

      thead th {
        background-color: gesso-brand(blue, dark);
        border-color: gesso-grayscale(gray-1);
        color: gesso-grayscale(white);

        .usa-table__header__button .usa-icon > g,
        .usa-table__header__button .usa-icon > g {
          fill: gesso-grayscale(white);
        }
      }

      tbody th, 
      tbody td {
        background-color: transparent;
        border-color: gesso-grayscale(gray-1);
        color: gesso-grayscale(white);
      }
    }
    // stylelint-enable selector-max-compound-selectors, max-nesting-depth
  }
}
