<div class="usa-dark-background">
  {% block content %}
    <div class="l-constrain padding-y-3">
      {{ body }}
      <h3>Buttons</h3>
      <p>
        {% include '@uswds/button/button.twig' with {
          is_demo: true,
          text: 'Button',
          text_demo: 'Link Button',
        } %}
      </p>
      <p>
        {% include '@uswds/button/button--unstyled/button--unstyled.twig' with {
          is_demo: true,
          text: 'Unstyled Button',
          text_demo: 'Unstyled Link Button',
        } %}
      </p>
      <p>
        {% include '@uswds/button/button--outline/button--outline.twig' with {
          is_demo: true,
          text: 'Outline Button',
          text_demo: 'Outline Link Button',
        } %}
      </p>
      <h3>Cards</h3>
      {% include '@uswds/card-group/card-group.twig' with {
        is_demo: true,
        cards: [
          {
            title: 'First Card',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae. Excepturi nobis dolores molestias! Quas quisquam a officia eos.</p>',
            media: '<img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">',
            layout_classes: 'tablet:grid-col-4',
            button_text: 'Button Text',
            button_url: '#0',
          },
          {
            title: 'Second Card',
            content: '<p>Etiam vitae sodales metus. Fusce id orci dignissim, efficitur risus eget, tempus odio. Donec lectus ante, auctor eget cursus sed, convallis quis magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris mattis tellus bibendum aliquet malesuada.</p>',
            media: '<img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">',
            layout_classes: 'tablet:grid-col-4',
            button_text: 'Button Text',
            button_url: '#0',
          },
          {
            title: 'Third Card',
            content: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>',
            media: '<img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">',
            layout_classes: 'tablet:grid-col-4',
            button_text: 'Button Text',
            button_url: '#0',
          },
        ],
      } %}
    </div>
  {% endblock %}
</div>
