{% include '@uswds/banner/banner.twig' with {
  'banner_text': 'An official website of the United States government',
  'has_expanded': true,
  'banner_action': 'Here’s how you know',
  'expanded_blocks': [
    {
      'icon': '../../../images/icon-dot-gov.svg',
      'icon_alt': 'Dot gov',
      'heading': 'The .gov means it’s official.',
      'content': 'Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.'
    },
    {
      'icon': '../../../images/icon-https.svg',
      'icon_alt': 'HTTPS',
      'heading': 'The site is secure.',
      'content': 'The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.'
    }
  ]
}%}

{% embed '@layouts/header/header.twig' %}
  {% block logo %}
    {% include "@components/site-logo/site-logo.twig" with {
      'url': '/',
    } %}
  {% endblock %}
  {% block navigation %}
    {% embed '@components/nav/nav--epa/nav--epa.twig' with {
      'label': 'Primary navigation',
      'extended': true
    } %}
      {% block menu %}
        {% include '@components/menu/menu--main/menu--main.twig' %}
      {% endblock %}
      {% block search %}
        {% include '@components/search/search--epa/search--epa.twig' %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}

{% embed '@layouts/region/region.twig' with {
  'region_name': 'highlighted',
  'has_constrain': true
} %}
  {% block content %}

  {% endblock %}
{% endembed %}

{% embed '@layouts/region/region.twig' with {
  'region_name': 'help',
  'has_constrain': true
} %}
  {% block content %}

  {% endblock %}
{% endembed %}

<main id="main" class="main" role="main" tabindex="-1">
  {% embed '@layouts/region/region.twig' with {
    'region_name': 'preface',
    'has_constrain': true
  } %}
    {% block content %}

    {% endblock %}
  {% endembed %}

  {% embed '@layouts/content/content.twig' with {
    'has_constrain': true
  } %}
    {% block content %}
      {{ content }}
    {% endblock %}
  {% endembed %}

  {% embed '@layouts/region/region.twig' with {
    'region_name': 'postscript',
    'has_constrain': true
  } %}
    {% block content %}

    {% endblock %}
  {% endembed %}
</main>

{% embed '@components/footer/footer.twig' with {
  'last_updated': 'Last updated on February 25, 2020'
} %}
  {% block column_one %}
    <h2>Discover.</h2>
    {% include '@components/menu/menu--footer/menu--footer.twig' with {
      'menu_name': 'footer',
      'items': [
        { 'title': 'Accessibility', 'url': '#' },
        { 'title': 'EPA Administrator', 'url': '#' },
        { 'title': 'Budget & Performance', 'url': '#' },
        { 'title': 'Contracting', 'url': '#' },
        { 'title': 'Grants', 'url': '#' },
        { 'title': 'January 19, 2017 Web Snapshot', 'url': '#' },
        { 'title': 'No FEAR Act Data', 'url': '#' },
        { 'title': 'Privacy', 'url': '#' },
        { 'title': 'Privacy and Security Notice', 'url': '#' }
      ],
    } %}
  {% endblock %}
  {% block column_two %}
    <h2>Connect.</h2>
    {% include '@components/menu/menu--footer/menu--footer.twig' with {
      'menu_name': 'footer',
      'items': [
        { 'title': 'Data.gov', 'url': '#' },
        { 'title': 'Inspector General', 'url': '#' },
        { 'title': 'Jobs', 'url': '#' },
        { 'title': 'Newsroom', 'url': '#' },
        { 'title': 'Open Government', 'url': '#' },
        { 'title': 'Regulations.gov', 'url': '#' },
        { 'title': 'Subscribe', 'url': '#' },
        { 'title': 'USA.gov', 'url': '#' },
        { 'title': 'White House', 'url': '#' }
      ],
    } %}
  {% endblock %}
  {% block column_three %}
    <h2>Ask.</h2>
    {% include '@components/menu/menu--footer/menu--footer.twig' with {
      'menu_name': 'footer',
      'items': [
        { 'title': 'Contact EPA', 'url': '#' },
        { 'title': 'Hotlines', 'url': '#' },
        { 'title': 'FOIA Requests', 'url': '#' }
      ],
    } %}
    <h2>Follow.</h2>
    {% include '@components/menu/menu--social/menu--social.twig' %}
  {% endblock %}
{% endembed %}
