<span class="definition js-definition">
  <button class="definition__trigger js-definition__trigger">
    {{ term }}
  </button>
  <span class="definition__tooltip js-definition__tooltip" role="tooltip">
    <dfn class="definition__term">{{ term }}</dfn>
    {{ definition }}
  </span>
</span>
