{% set contact_link %}
  {% include '@components/header-link/header-link.twig' with {
    'url': '#',
    'text': 'Contact Us',
  } %}
{% endset %}

{% set page_messages %}
  {% if show_admin_info %}
    {% include '@uswds/alert/alert--success/alert--success.twig' with {
      'title': 'Status message',
      'content': '<p class="usa-alert__text">Basic page <em class="placeholder"><a href="#" hreflang="en">' ~ page_title ~ '</a></em> has been updated.</p>',
    } %}
  {% endif %}
{% endset %}

{% set page_tasks %}
  {% if show_admin_info %}
    {% include '@components/button-group/button-group--base/button-group--base.twig' with {
      'buttons': local_tasks,
    } %}
  {% endif %}
{% endset %}

{% set content %}
  <p>Content</p>
{% endset %}

{% set page_content %}
  {% include '@templates/web-area-homepages/resource-directory.twig' with {
    'title': page_title,
    'messages': page_messages,
    'tasks': page_tasks,
    'has_header': has_header,
    'has_sidebar': has_sidebar,
    'main_top': main_top,
    'num_of_cols_a': num_of_cols_a,
    'a1': a1,
    'a2': a2,
    'num_of_cols_b': num_of_cols_b,
    'b1': b1,
    'b2': b2,
    'num_of_cols_c': num_of_cols_c,
    'c1': c1,
    'c2': c2,
    'main_bottom': main_bottom,
    'sidebar': sidebar,
  } %}
{% endset %}

{# pass page_content to default page wrapper #}
{% include '@pages/_page-default.twig' with {
  'content': page_content
} %}
